In [7]:
import pandas as pd
import os
import utility

In [10]:
#import data: 
datapath = os.getcwd() + '/Data/'
df = pd.read_csv(datapath + 'combined_v2.csv')

In [12]:
utility.summary(df)

data shape: (3000891, 20)

,data type,#missing,%missing,#unique,min,max,first value,second value,third value
date,object,0,0.000000,1687,NaN,NaN,2013-01-01,2013-01-01,2013-01-01
year,int64,0,0.000000,5,2013.0,2017.0,2013,2013,2013
month,int64,0,0.000000,12,1.0,12.0,1,1,1
week_number,int64,0,0.000000,53,1.0,53.0,1,1,1
day,int64,0,0.000000,31,1.0,31.0,1,1,1
day_of_the_week,object,0,0.000000,7,NaN,NaN,Tuesday,Tuesday,Tuesday
store_nbr,float64,3,0.000100,54,1.0,54.0,1.0,1.0,1.0
city,object,3,0.000100,22,NaN,NaN,Quito,Quito,Quito
state,object,3,0.000100,16,NaN,NaN,Pichincha,Pichincha,Pichincha
type_store,object,3,0.000100,5,NaN,NaN,D,D,D
cluster,float64,3,0.000100,17,1.0,17.0,13.0,13.0,13.0
family,object,3,0.000100,33,NaN,NaN,AUTOMOTIVE,BABY CARE,BEAUTY
sales,float64,3,0.000100,379610,0.0,124717.0,0.0,0.0,0.0
onpromotion,float64,3,0.000100,362,0.0,741.0,0.0,0.0,0.0
oil,float64,928425,30.938311,994,26.19,110.62,NaN,NaN,NaN
transactions,float64,245787,8.190467,4993,5.0,8359.0,NaN,NaN,NaN
hol_Nat,float64,0,0.000000,2,0.0,1.0,1.0,1.0,1.0
hol_Reg,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_Loc,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
type_hol,object,2733291,91.082648,6,NaN,NaN,Holiday,Holiday,Holiday

NameError: name 'hol_Nat' is not defined

array([1., 0.])