In [17]:
import pandas as pd
import os
import utility

In [18]:
#import data: 
datapath = os.getcwd() + '/Data/'
holidays = pd.read_csv(datapath + 'holidays_events.csv')

In [19]:
# Check how holidays are distributed every year. 
holidays['date'] = pd.to_datetime(holidays['date'])
holidays['year'] = holidays.date.dt.year
holidays['month-day'] = holidays['date'].dt.strftime('%m-%d')

# Show all rows
pd.set_option('display.max_rows', None)
# First: National
national = holidays[(holidays.locale == 'National') & (holidays.type == 'Holiday')]

## Type of holidays 
The different types of holiday indicates for a particular store in a particlular day, it can be:

- holiday, celebrated
- holiday, not celebrated
- not holiday, celebrated 
- not holiday, not celebrated
- event


We don't know if for a particular holiday, whether it's a day off or not is going to affect the sale. So I'll also add "whether it's celebrated (day off)" as a feature. 

## location and description 
There're three locations. Based on the location, we can determine wheter a particular store celebrate the holiday. 

Different holidays will likely have different shopping culture. Holidays should be considered separately. 

So at first glance, I will add three columns:
- Local holiday (0 is none, 1 - 27 is the different discription of the holidays.)
- Regional holiday (0 is None, 1 - 4 is four different holidays.)
- National holiday (0 is None, 1 - 29 are different holidays.)
- National Events (0 is None, 1 - 43 are different events.) 
  - Event is not recruiting. Hence it should be labeled separately. 

One problem, 2012-12-31	is both Puente Primer dia del ano	(Bridge) and Primer dia del ano-1	(Additional)
It termed out Puente Primer dia del ano	means "The bridge for new year" , Primer dia del ano means "new year eve".

Other than that, there's no overlapping holidays. 

Notice that "Bridge", "Work Day" and "Transfer" Changes every year based on the day of the week. 
While "Additional" only goes with the holiday it self. 

# Different holidays 

Not all holiday is repeated in the same day every year.

In [20]:

table_national = national.pivot_table(index='month-day', columns='year', values='description', aggfunc=lambda x: ', '.join(x)).fillna(0)
# print(table_national)

In [21]:
# Then Regional 
Regional = holidays[(holidays.locale == 'Regional') & (holidays.type == 'Holiday')]
table_regional = Regional.pivot_table(index='month-day', columns='year', values='description', aggfunc=lambda x: ', '.join(x)).fillna(0)
# print(table_regional)

In [22]:
# Finally, local: 

Local = holidays[(holidays.locale == 'Local') & (holidays.type == 'Holiday')]
table_local = Local.pivot_table(index='month-day', columns='year', values='description', aggfunc=lambda x: ', '.join(x)).fillna(0)
# print(table_local)

Not All national holidays are of the same date. \
Regional holidays are of the day date.

Local holiday is very wild. 
The  Fundacion de Guayaquil is celebrated in different ways every time.

# Summary on holiday types 

Because how complicated the different holidays are, it's easier to use the holiday.csv as a table and not try to predict the holiday dates. 

Treat every discription separetly. 
To deal with 2012-12-31, label it as "Primer dia del ano" for now. Since new year eve affects more than just a "bridge day". (If any thing goes wrong, this is the "error" we introduce. )

In [ ]:


# Create a new dataset: 
Local_holidays = holidays[holidays.locale == 'Local']
Local_holidays['local_holiday'] = Local_holidays['description']
# Set 'Local_celebrated' to True where 'type' is 'Holiday'
Local_holidays['Local_celebrated'] = Local_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])
# Update 'Local_celebrated' to False where 'transferred' is True
Local_holidays.loc[Local_holidays['transferred'] == True, 'Local_celebrated'] = False
# Take only the needed 
Local_holidays = Local_holidays[['date', 'local_holiday', 'locale_name','Local_celebrated']]

# For regional too 
Regional_holidays = holidays[holidays.locale == 'Regional']
Regional_holidays['Regional_holiday'] = Regional_holidays['description']
# Set 'Local_celebrated' to True where 'type' is 'Holiday'
Regional_holidays['Regional_celebrated'] = Regional_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])
# Update 'Local_celebrated' to False where 'transferred' is True
Regional_holidays.loc[Regional_holidays['transferred'] == True, 'Regional_celebrated'] = False
# Take only the needed 
Regional_holidays = Regional_holidays[['date', 'Regional_holiday', 'locale_name','Regional_celebrated']]

# Same with National 
National_holidays = holidays[holidays.locale == 'National']
National_holidays['National_holiday'] = National_holidays['description']
# Set 'Local_celebrated' to True where 'type' is 'Holiday'
National_holidays['National_celebrated'] = National_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])
# Update 'Local_celebrated' to False where 'transferred' is True
National_holidays.loc[National_holidays['transferred'] == True, 'National_celebrated'] = False
# Take only the needed 
National_holidays = National_holidays[['date', 'National_holiday', 'locale_name','National_celebrated']]

/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_53752/1476164347.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Local_holidays['local_holiday'] = Local_holidays['description']
/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_53752/1476164347.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Local_holidays['Local_celebrated'] = Local_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])
/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_53752/1476164347.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Regional_holidays['Regional_holiday'] = Regional_holidays['description']
/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_53752/1476164347.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Regional_holidays['Regional_celebrated'] = Regional_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])
/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_53752/1476164347.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  National_holidays['National_holiday'] = National_holidays['description']
/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_53752/1476164347.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  National_holidays['National_celebrated'] = National_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])

# Study the effect of holidays

In [ ]:
# Import the combined training file with the correct holiday merge. 
#import data: 
# datapath = os.getcwd() + '/Data/'
#df = pd.read_csv(datapath + 'combined-2.csv')
df = pd.read_csv(datapath + 'merged_train.csv')

/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_53752/2807676719.py:5: DtypeWarning: Columns (14,16,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(datapath + 'merged_train.csv')

In [ ]:
# Uncomment this to see a summary of the df. 
#utility.summary(df)
#utility.df_info(df)

In [ ]:
df_hol = df[(df.hol_Nat == 1) | (df.hol_Reg == 1) | (df.hol_Loc == 1)  ]
df_hol = df_hol[['date', 'year','month','day','day_of_week','city','state','hol_Nat','hol_Nat_name',
                 'hol_Reg','hol_Reg_name','hol_Loc','hol_loc_name','transferred']]
df_hol = df_hol.drop_duplicates() 
# Check if there's holiday in Aug after 15: 
print(df_hol[(df_hol.month == 8) & (df_hol.day > 15)])

               date  year  month  day  day_of_week    city       state  \
358512   2013-08-24  2013      8   24            5  Ambato  Tungurahua
920370   2014-08-24  2014      8   24            6  Ambato  Tungurahua
1505526  2015-08-24  2015      8   24            0  Ambato  Tungurahua
2136618  2016-08-24  2016      8   24            2  Ambato  Tungurahua

         hol_Nat hol_Nat_name  hol_Reg hol_Reg_name  hol_Loc  \
358512       0.0          NaN      0.0          NaN      1.0
920370       0.0          NaN      0.0          NaN      1.0
1505526      0.0          NaN      0.0          NaN      1.0
2136618      0.0          NaN      0.0          NaN      1.0

                hol_loc_name transferred
358512   Fundacion de Ambato           1
920370   Fundacion de Ambato         1.0
1505526  Fundacion de Ambato           1
2136618  Fundacion de Ambato         1.0

In [49]:
#Confirm with the orginal holiday csv:
holidays[holidays['month-day'] == '08-24']

,date,type,locale,locale_name,description,transferred,year,month-day
16,2012-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2012,08-24
69,2013-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2013,08-24
132,2014-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2014,08-24
187,2015-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2015,08-24
271,2016-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2016,08-24
327,2017-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2017,08-24

In [ ]:
# Check how many stores are affected.
df[df.hol_loc_name == 'Fundacion de Ambato'].store_nbr.unique()

array([23, 50])

## Observation 1:
For kaggle competition purposes: 

We only have to predict for 2017 Aug 16 - Aug 31, only **Aug 24** is a local holiday. 

And it is a **Thursday**. 

Only the city Ambato is affected with stores #23 and #50.

## Other holiday affects 

### 1. Do all holidays affect sales for all the items in the same way?

Only look into the holidays that are celebrated. Not inlucding the transferred/bridge/workdays

In [67]:
df_hol_all = df[(df.hol_Nat == 1) | (df.hol_Reg == 1) | (df.hol_Loc == 1)  ]
df_hol_true = df_hol_all[(df_hol_all.type_hol_Holiday == 1) & (df_hol_all.transferred == 0) ]  # Only those holidays + celebrated

In [71]:
# print(df_hol_true)
utility.summary(df_hol_all)

data shape: (241131, 29)

,data type,#missing,%missing,#unique,min,max,first value,second value,third value
date,object,0,0.000000,245,NaN,NaN,2013-01-01,2013-01-01,2013-01-01
year,int64,0,0.000000,5,2013.0,2017.0,2013,2013,2013
month,int64,0,0.000000,12,1.0,12.0,1,1,1
week_number,int64,0,0.000000,42,1.0,53.0,1,1,1
day,int64,0,0.000000,31,1.0,31.0,1,1,1
day_of_week,int64,0,0.000000,7,0.0,6.0,1,1,1
store_nbr,int64,0,0.000000,54,1.0,54.0,25,25,25
type,object,0,0.000000,5,NaN,NaN,D,D,D
cluster,int64,0,0.000000,17,1.0,17.0,1,1,1
city,object,0,0.000000,22,NaN,NaN,Salinas,Salinas,Salinas
state,object,0,0.000000,16,NaN,NaN,Santa Elena,Santa Elena,Santa Elena
transactions,int64,0,0.000000,3056,33.0,8359.0,770,770,770
dcoilwtico,float64,0,0.000000,240,27.96,107.95,92.485,92.485,92.485
hol_Nat,float64,0,0.000000,2,0.0,1.0,1.0,1.0,1.0
hol_Nat_name,object,11781,4.885726,69,NaN,NaN,Primer dia del ano,Primer dia del ano,Primer dia del ano
hol_Reg,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_Reg_name,object,240207,99.616806,4,NaN,NaN,NaN,NaN,NaN
hol_Loc,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_loc_name,object,229812,95.305871,27,NaN,NaN,NaN,NaN,NaN
transferred,object,0,0.000000,5,NaN,NaN,False,False,False
family,object,0,0.000000,33,NaN,NaN,AUTOMOTIVE,BABY CARE,BEAUTY
onpromotion,int64,0,0.000000,305,0.0,720.0,0,0,0
sales,float64,0,0.000000,48203,0.0,124717.0,0.0,0.0,2.0
type_hol_Additional,bool,0,0.000000,2,NaN,NaN,False,False,False
type_hol_Bridge,bool,0,0.000000,2,NaN,NaN,False,False,False
type_hol_Event,bool,0,0.000000,2,NaN,NaN,False,False,False
type_hol_Holiday,bool,0,0.000000,2,NaN,NaN,True,True,True
type_hol_Transfer,bool,0,0.000000,2,NaN,NaN,False,False,False
type_hol_Work Day,bool,0,0.000000,2,NaN,NaN,False,False,False

In [69]:
df_hol_true.hol_loc_name.unique()

array([nan], dtype=object)

In [ ]:
# Check holidays:
df_hol_all.transferred.unique()
# The transferred is not right.

array([False, 'False', '1', 1.0, 'True'], dtype=object)