In [1]:
import pandas as pd
import os
import utility
import utils

In [3]:
train, test = utils.import_data()

In [8]:
utility.summary(train)

data shape: (3002326, 16)

,data type,#missing,%missing,#unique,min,max,first value,second value,third value
date,datetime64[ns],54,0.001799,1755,2012-03-02 00:00:00,2017-12-26 00:00:00,2012-03-02 00:00:00,2012-04-01 00:00:00,2012-04-12 00:00:00
type,object,3001922,99.986544,11,NaN,NaN,Holiday,Holiday,Holiday
locale,object,3001976,99.988342,3,NaN,NaN,Local,Regional,Local
locale_name,object,3001976,99.988342,24,NaN,NaN,Manta,Cotopaxi,Cuenca
description,object,3001976,99.988342,103,NaN,NaN,Fundacion de Manta,Provincializacion de Cotopaxi,Fundacion de Cuenca
transferred,object,3001976,99.988342,2,NaN,NaN,False,False,False
dcoilwtico,float64,3001136,99.960364,998,26.19,110.62,NaN,NaN,NaN
store_nbr,float64,1384,0.046098,54,1.0,54.0,NaN,NaN,NaN
city,object,3002272,99.998201,22,NaN,NaN,NaN,NaN,NaN
state,object,3002272,99.998201,16,NaN,NaN,NaN,NaN,NaN
cluster,float64,3002272,99.998201,17,1.0,17.0,NaN,NaN,NaN
id,float64,1438,0.047896,3000888,0.0,3000887.0,NaN,NaN,NaN
family,object,1438,0.047896,33,NaN,NaN,NaN,NaN,NaN
sales,float64,1438,0.047896,379610,0.0,124717.0,NaN,NaN,NaN
onpromotion,float64,1438,0.047896,362,0.0,741.0,NaN,NaN,NaN
transactions,float64,247222,8.234349,4993,5.0,8359.0,NaN,NaN,NaN