In [42]:
import pandas as pd
import os
import numpy as np

In [43]:
import sys
import os

# Get the current folder path
current_folder = os.getcwd()
# Add the parent directory to sys.path
parent_folder = os.path.abspath(os.path.join(current_folder, ".."))
sys.path.append(parent_folder)

# Import the utility module
import utility  # Now you can use utility.py as a module import utility

In [44]:
#import data: 
datapath = parent_folder  + '/Data/'
holidays = pd.read_csv(datapath + 'holidays_events.csv')

In [45]:
# Check how holidays are distributed every year. 
holidays['date'] = pd.to_datetime(holidays['date'])
holidays['year'] = holidays.date.dt.year
holidays['month-day'] = holidays['date'].dt.strftime('%m-%d')

# Show all rows
pd.set_option('display.max_rows', None)
# First: National
national = holidays[(holidays.locale == 'National') & (holidays.type == 'Holiday')]

## Type of holidays 
The different types of holiday indicates for a particular store in a particlular day, it can be:

- holiday, celebrated
- holiday, not celebrated
- not holiday, celebrated 
- not holiday, not celebrated
- event


We don't know if for a particular holiday, whether it's a day off or not is going to affect the sale. So I'll also add "whether it's celebrated (day off)" as a feature. 

## location and description 
There're three locations. Based on the location, we can determine wheter a particular store celebrate the holiday. 

Different holidays will likely have different shopping culture. Holidays should be considered separately. 

So at first glance, I will add three columns:
- Local holiday (0 is none, 1 - 27 is the different discription of the holidays.)
- Regional holiday (0 is None, 1 - 4 is four different holidays.)
- National holiday (0 is None, 1 - 29 are different holidays.)
- National Events (0 is None, 1 - 43 are different events.) 
  - Event is not recruiting. Hence it should be labeled separately. 

One problem, 2012-12-31	is both Puente Primer dia del ano	(Bridge) and Primer dia del ano-1	(Additional)
It termed out Puente Primer dia del ano	means "The bridge for new year" , Primer dia del ano means "new year eve".

Other than that, there's no overlapping holidays. 

Notice that "Bridge", "Work Day" and "Transfer" Changes every year based on the day of the week. 
While "Additional" only goes with the holiday it self. 

# Different holidays 

Not all holiday is repeated in the same day every year.

In [46]:

table_national = national.pivot_table(index='month-day', columns='year', values='description', aggfunc=lambda x: ', '.join(x)).fillna(0)
# print(table_national)

In [47]:
# Then Regional 
Regional = holidays[(holidays.locale == 'Regional') & (holidays.type == 'Holiday')]
table_regional = Regional.pivot_table(index='month-day', columns='year', values='description', aggfunc=lambda x: ', '.join(x)).fillna(0)
# print(table_regional)

In [48]:
# Finally, local: 

Local = holidays[(holidays.locale == 'Local') & (holidays.type == 'Holiday')]
table_local = Local.pivot_table(index='month-day', columns='year', values='description', aggfunc=lambda x: ', '.join(x)).fillna(0)
# print(table_local)

Not All national holidays are of the same date. \
Regional holidays are of the day date.

In [49]:
len(national.description.unique())

10

Local holiday is very wild. 
The  Fundacion de Guayaquil is celebrated in different ways every time.

# Summary on holiday types 

Because how complicated the different holidays are, it's easier to use the holiday.csv as a table and not try to predict the holiday dates. 

Treat every discription separetly. 
To deal with 2012-12-31, label it as "Primer dia del ano" for now. Since new year eve affects more than just a "bridge day". (If any thing goes wrong, this is the "error" we introduce. )

In [50]:


# Create a new dataset: 
Local_holidays = holidays[holidays.locale == 'Local']
Local_holidays['local_holiday'] = Local_holidays['description']
# Set 'Local_celebrated' to True where 'type' is 'Holiday'
Local_holidays['Local_celebrated'] = Local_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])
# Update 'Local_celebrated' to False where 'transferred' is True
Local_holidays.loc[Local_holidays['transferred'] == True, 'Local_celebrated'] = False
# Take only the needed 
Local_holidays = Local_holidays[['date', 'local_holiday', 'locale_name','Local_celebrated']]

# For regional too 
Regional_holidays = holidays[holidays.locale == 'Regional']
Regional_holidays['Regional_holiday'] = Regional_holidays['description']
# Set 'Local_celebrated' to True where 'type' is 'Holiday'
Regional_holidays['Regional_celebrated'] = Regional_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])
# Update 'Local_celebrated' to False where 'transferred' is True
Regional_holidays.loc[Regional_holidays['transferred'] == True, 'Regional_celebrated'] = False
# Take only the needed 
Regional_holidays = Regional_holidays[['date', 'Regional_holiday', 'locale_name','Regional_celebrated']]

# Same with National 
National_holidays = holidays[holidays.locale == 'National']
National_holidays['National_holiday'] = National_holidays['description']
# Set 'Local_celebrated' to True where 'type' is 'Holiday'
National_holidays['National_celebrated'] = National_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])
# Update 'Local_celebrated' to False where 'transferred' is True
National_holidays.loc[National_holidays['transferred'] == True, 'National_celebrated'] = False
# Take only the needed 
National_holidays = National_holidays[['date', 'National_holiday', 'locale_name','National_celebrated']]

/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_99232/1476164347.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Local_holidays['local_holiday'] = Local_holidays['description']
/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_99232/1476164347.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Local_holidays['Local_celebrated'] = Local_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])
/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_99232/1476164347.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Regional_holidays['Regional_holiday'] = Regional_holidays['description']
/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_99232/1476164347.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Regional_holidays['Regional_celebrated'] = Regional_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])
/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_99232/1476164347.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  National_holidays['National_holiday'] = National_holidays['description']
/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_99232/1476164347.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  National_holidays['National_celebrated'] = National_holidays['type'].isin(['Holiday','Bridge', 'Additional','Transfer'])

# Study the effect of holidays

In [64]:
# Import the combined training file with the correct holiday merge. 
#import data: 
# datapath = os.getcwd() + '/Data/'
#df = pd.read_csv(datapath + 'combined-2.csv')
df = pd.read_csv(datapath + 'merged_train_alt_new.csv')

/var/folders/3d/wg74p6ds4615xyxvs58d4f_40000gn/T/ipykernel_99232/3265533780.py:5: DtypeWarning: Columns (15,17,19,21,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(datapath + 'merged_train_alt_new.csv')

In [65]:
# Uncomment this to see a summary of the df. 
utility.summary(df)
#utility.df_info(df)

data shape: (3000888, 39)

,data type,#missing,%missing,#unique,min,max,first value,second value,third value
Unnamed: 0,int64,0,0.000000,3000888,0.0,3000887.0,0,1,2
date,object,0,0.000000,1684,NaN,NaN,2013-01-01,2013-01-01,2013-01-01
year,int64,0,0.000000,5,2013.0,2017.0,2013,2013,2013
month,int64,0,0.000000,12,1.0,12.0,1,1,1
week_number,int64,0,0.000000,53,1.0,53.0,1,1,1
day,int64,0,0.000000,31,1.0,31.0,1,1,1
day_of_week,int64,0,0.000000,7,0.0,6.0,1,1,1
store_nbr,int64,0,0.000000,54,1.0,54.0,1,1,1
type,object,0,0.000000,5,NaN,NaN,D,D,D
cluster,int64,0,0.000000,17,1.0,17.0,13,13,13
city,object,0,0.000000,22,NaN,NaN,Quito,Quito,Quito
state,object,0,0.000000,16,NaN,NaN,Pichincha,Pichincha,Pichincha
transactions,float64,245784,8.190376,4993,5.0,8359.0,NaN,NaN,NaN
oil,float64,0,0.000000,1478,26.19,110.62,92.485,92.485,92.485
hol_Nat,float64,0,0.000000,2,0.0,1.0,1.0,1.0,1.0
hol_Nat_name,object,2840508,94.655582,27,NaN,NaN,Primer dia del ano,Primer dia del ano,Primer dia del ano
hol_Reg,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_Reg_name,object,2999865,99.965910,4,NaN,NaN,NaN,NaN,NaN
hol_Loc,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_loc_name,object,2988645,99.592021,27,NaN,NaN,NaN,NaN,NaN
event,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_event_name,object,2902878,96.733967,42,NaN,NaN,NaN,NaN,NaN
transferred,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Additional,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Additional.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Bridge,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Bridge.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Event,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Event.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Holiday,bool,0,0.000000,2,NaN,NaN,True,True,True
hol_type_Holiday.1,bool,0,0.000000,2,NaN,NaN,True,True,True
hol_type_Transfer,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Transfer.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Work Day,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Work Day.1,bool,0,0.000000,2,NaN,NaN,False,False,False
family,object,0,0.000000,33,NaN,NaN,AUTOMOTIVE,BABY CARE,BEAUTY
onpromotion,int64,0,0.000000,362,0.0,741.0,0,0,0
sales,float64,0,0.000000,379610,0.0,124717.0,0.0,0.0,0.0
hol_type,object,2733291,91.082740,6,NaN,NaN,Holiday,Holiday,Holiday

In [66]:
df_hol = df[(df.hol_Nat == 1) | (df.hol_Reg == 1) | (df.hol_Loc == 1)  ]
df_hol = df_hol[['date', 'year','month','day','day_of_week','city','state','hol_Nat','hol_Nat_name',
                 'hol_Reg','hol_Reg_name','hol_Loc','hol_loc_name','transferred']]
df_hol = df_hol.drop_duplicates() 
# Check if there's holiday in Aug after 15: 
print(df_hol[(df_hol.month == 8) & (df_hol.day > 15)])

               date  year  month  day  day_of_week    city       state  \
419265   2013-08-24  2013      8   24            5  Ambato  Tungurahua
1067913  2014-08-24  2014      8   24            6  Ambato  Tungurahua
1716561  2015-08-24  2015      8   24            0  Ambato  Tungurahua
2366991  2016-08-24  2016      8   24            2  Ambato  Tungurahua

         hol_Nat hol_Nat_name  hol_Reg hol_Reg_name  hol_Loc  \
419265       0.0          NaN      0.0          NaN      1.0
1067913      0.0          NaN      0.0          NaN      1.0
1716561      0.0          NaN      0.0          NaN      1.0
2366991      0.0          NaN      0.0          NaN      1.0

                hol_loc_name  transferred
419265   Fundacion de Ambato        False
1067913  Fundacion de Ambato        False
1716561  Fundacion de Ambato        False
2366991  Fundacion de Ambato        False

In [67]:
#Confirm with the orginal holiday csv:
holidays[holidays['month-day'] == '08-24']

,date,type,locale,locale_name,description,transferred,year,month-day
16,2012-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2012,08-24
69,2013-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2013,08-24
132,2014-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2014,08-24
187,2015-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2015,08-24
271,2016-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2016,08-24
327,2017-08-24,Holiday,Local,Ambato,Fundacion de Ambato,False,2017,08-24

In [68]:
# Check how many stores are affected.
df[df.hol_loc_name == 'Fundacion de Ambato'].store_nbr.unique()

array([23, 50])

## Observation 1:
For kaggle competition purposes: 

We only have to predict for 2017 Aug 16 - Aug 31, only **Aug 24** is a local holiday. 

And it is a **Thursday**. 

Only the city Ambato is affected with stores #23 and #50.

## Other holiday affects 

### 1. Do all holidays affect sales for all the items in the same way?

Only look into the holidays that are celebrated. Not inlucding the transferred/bridge/workdays

In [69]:
df_hol_all = df[(df.hol_Nat == 1) | (df.hol_Reg == 1) | (df.hol_Loc == 1)  ]
df_hol_true = df_hol_all[(df_hol_all.hol_type_Holiday == 1) & (df_hol_all.transferred.isin([False, 'False']) ) ]  # Only those holidays + celebrated

In [70]:
# Check holidays:
df_hol_all.transferred.unique()
# The transferred is not right. So for the following code I figured it manually

array([False,  True])

In [71]:
# print(df_hol_true)
utility.summary(df_hol_all)

data shape: (173415, 39)

,data type,#missing,%missing,#unique,min,max,first value,second value,third value
Unnamed: 0,int64,0,0.000000,173415,0.0,2999303.0,0,1,2
date,object,0,0.000000,203,NaN,NaN,2013-01-01,2013-01-01,2013-01-01
year,int64,0,0.000000,5,2013.0,2017.0,2013,2013,2013
month,int64,0,0.000000,12,1.0,12.0,1,1,1
week_number,int64,0,0.000000,38,1.0,53.0,1,1,1
day,int64,0,0.000000,29,1.0,31.0,1,1,1
day_of_week,int64,0,0.000000,7,0.0,6.0,1,1,1
store_nbr,int64,0,0.000000,54,1.0,54.0,1,1,1
type,object,0,0.000000,5,NaN,NaN,D,D,D
cluster,int64,0,0.000000,17,1.0,17.0,13,13,13
city,object,0,0.000000,22,NaN,NaN,Quito,Quito,Quito
state,object,0,0.000000,16,NaN,NaN,Pichincha,Pichincha,Pichincha
transactions,float64,21054,12.140818,2572,353.0,8359.0,NaN,NaN,NaN
oil,float64,0,0.000000,200,27.96,107.43,92.485,92.485,92.485
hol_Nat,float64,0,0.000000,2,0.0,1.0,1.0,1.0,1.0
hol_Nat_name,object,13035,7.516651,27,NaN,NaN,Primer dia del ano,Primer dia del ano,Primer dia del ano
hol_Reg,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_Reg_name,object,172392,99.410086,4,NaN,NaN,NaN,NaN,NaN
hol_Loc,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_loc_name,object,161172,92.940057,27,NaN,NaN,NaN,NaN,NaN
event,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_event_name,object,169587,97.792578,6,NaN,NaN,NaN,NaN,NaN
transferred,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Additional,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Additional.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Bridge,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Bridge.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Event,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Event.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Holiday,bool,0,0.000000,2,NaN,NaN,True,True,True
hol_type_Holiday.1,bool,0,0.000000,2,NaN,NaN,True,True,True
hol_type_Transfer,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Transfer.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Work Day,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Work Day.1,bool,0,0.000000,2,NaN,NaN,False,False,False
family,object,0,0.000000,33,NaN,NaN,AUTOMOTIVE,BABY CARE,BEAUTY
onpromotion,int64,0,0.000000,250,0.0,718.0,0,0,0
sales,float64,0,0.000000,32146,0.0,31851.158,0.0,0.0,0.0
hol_type,object,0,0.000000,6,NaN,NaN,Holiday,Holiday,Holiday

In [72]:
# Calculate the average values for all the items when not holidays or events 
df_non_hol = df[(df.hol_Nat == 0) | (df.hol_Reg == 0) | (df.hol_Loc == 0) ]
df_sale = pd.DataFrame(columns=['family', 'average_sales_non_hol'])
# Loop through each unique family in the filtered dataframe
# Initialize an empty list to collect results
results = []
for item in df_non_hol['family'].unique():
    # Calculate the mean sales for each family and add it to the dataframe
    avg_sales = np.nanmean(df_non_hol[df_non_hol['family'] == item]['sales'])
    # Append a dictionary with 'family' and 'average_sales' to results list
    results.append({'family': item, 'average_sales': avg_sales})

# Convert the results list to a DataFrame
df_sale = pd.DataFrame(results)
# print(df_sale)

In [73]:
# Add that for holidays 
# National is too complicated. start from Regional
df_sale_regional = df_sale
for hol in df_hol_true.hol_Reg_name.unique():
    if  pd.isna(hol):
        print("Empty holiday name:", hol)
        continue
    # Calculate the average for each item: 
    for item in df_non_hol['family'].unique():
        average_sales = np.nanmean(df_hol_true[(df_hol_true.family == item) | (df_hol_true.hol_Reg_name == hol)]['sales'])
        df_sale_regional.loc[df_sale_regional['family'] == item, hol] = average_sales
#print(df_sale)

Empty holiday name: nan

In [74]:
df_sale_regional

,family,average_sales,Provincializacion de Cotopaxi,Provincializacion de Imbabura,Provincializacion de Santo Domingo,Provincializacion Santa Elena
0,AUTOMOTIVE,6.101236,34.706042,16.616036,43.791446,16.188166
1,BABY CARE,0.110528,28.698258,10.113243,37.921062,9.689363
2,BEAUTY,3.715723,32.237176,13.929683,41.367478,13.500616
3,BEVERAGES,2385.793151,2053.653410,2193.730960,2014.397166,2192.791119
4,BOOKS,0.070797,28.700482,10.118430,37.923234,9.691757
5,BREAD/BAKERY,463.336254,408.572537,419.710929,408.517403,419.143085
6,CELEBRATION,8.370469,34.291661,16.156738,43.370736,15.730464
7,CLEANING,1072.416744,948.435100,1003.273658,936.112952,1003.427591
8,DAIRY,709.154889,627.747183,656.114839,622.660019,655.423202
9,DELI,265.135067,264.170050,264.139537,267.791623,263.879919
10,EGGS,171.420516,181.872091,175.278047,187.231706,174.794311
11,FROZEN FOODS,154.766954,141.990163,132.126517,148.412216,131.618319
12,GROCERY I,3776.972100,3278.564159,3518.866315,3210.008662,3519.950815
13,GROCERY II,21.584048,45.574092,28.292812,54.400787,27.871326
14,HARDWARE,1.137833,29.665642,11.160729,38.866753,10.733656
15,HOME AND KITCHEN I,20.470342,44.951779,27.632397,53.765740,27.213305
16,HOME AND KITCHEN II,16.722420,43.499963,26.068550,52.340685,25.651454
17,HOME APPLIANCES,0.457476,29.083358,10.531040,38.298325,10.104766
18,HOME CARE,176.198029,175.079652,167.963602,180.559367,167.617136
19,LADIESWEAR,7.160629,34.754596,16.633594,43.818962,16.216897
20,LAWN AND GARDEN,6.035475,33.595590,15.388582,42.702380,14.953529
21,LINGERIE,7.182128,35.036287,16.954823,44.100642,16.523760
22,"LIQUOR,WINE,BEER",85.187824,118.782765,107.153945,125.766464,106.655045
23,MAGAZINES,2.929082,30.909897,12.497520,40.074936,12.070448
24,MEATS,341.849965,306.223000,309.385926,308.993441,308.916300
25,PERSONAL CARE,270.432513,274.115234,275.005900,277.540541,274.672204
26,PET SUPPLIES,3.921263,31.915456,13.582117,41.064798,13.152252
27,PLAYERS AND ELECTRONICS,6.186857,33.880616,15.705022,42.980077,15.278349
28,POULTRY,350.532292,332.134567,337.184762,334.084533,336.663192
29,PREPARED FOODS,96.770202,116.716205,104.949004,123.712660,104.509201
30,PRODUCE,1349.352123,990.730131,1045.761982,974.842263,1044.590867
31,SCHOOL AND OFFICE SUPPLIES,2.961599,30.297591,11.838702,39.483336,11.412028
32,SEAFOOD,22.163190,48.589155,31.538477,57.334196,31.116436

The Comparing doesn't really mean anything especially for some items the average is really low. 

I think for regional average, it's more fair to only consider the regions average for the stores invovled.

In [77]:
utility.summary(df_nonhol_for_Hol_region)

data shape: (389004, 39)

,data type,#missing,%missing,#unique,min,max,first value,second value,third value
Unnamed: 0,int64,0,0.000000,389004,99.0,3000590.0,99,100,101
date,object,0,0.000000,1684,NaN,NaN,2013-01-01,2013-01-01,2013-01-01
year,int64,0,0.000000,5,2013.0,2017.0,2013,2013,2013
month,int64,0,0.000000,12,1.0,12.0,1,1,1
week_number,int64,0,0.000000,53,1.0,53.0,1,1,1
day,int64,0,0.000000,31,1.0,31.0,1,1,1
day_of_week,int64,0,0.000000,7,0.0,6.0,1,1,1
store_nbr,int64,0,0.000000,7,5.0,25.0,12,12,12
type,object,0,0.000000,3,NaN,NaN,C,C,C
cluster,int64,0,0.000000,5,1.0,15.0,15,15,15
city,object,0,0.000000,4,NaN,NaN,Latacunga,Latacunga,Latacunga
state,object,0,0.000000,4,NaN,NaN,Cotopaxi,Cotopaxi,Cotopaxi
transactions,float64,36399,9.356973,1358,238.0,3468.0,NaN,NaN,NaN
oil,float64,0,0.000000,1478,26.19,110.62,92.485,92.485,92.485
hol_Nat,float64,0,0.000000,2,0.0,1.0,1.0,1.0,1.0
hol_Nat_name,object,368214,94.655582,27,NaN,NaN,Primer dia del ano,Primer dia del ano,Primer dia del ano
hol_Reg,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_Reg_name,object,387981,99.737021,4,NaN,NaN,NaN,NaN,NaN
hol_Loc,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_loc_name,object,387651,99.652189,5,NaN,NaN,NaN,NaN,NaN
event,float64,0,0.000000,2,0.0,1.0,0.0,0.0,0.0
hol_event_name,object,376299,96.733967,42,NaN,NaN,NaN,NaN,NaN
transferred,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Additional,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Additional.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Bridge,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Bridge.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Event,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Event.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Holiday,bool,0,0.000000,2,NaN,NaN,True,True,True
hol_type_Holiday.1,bool,0,0.000000,2,NaN,NaN,True,True,True
hol_type_Transfer,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Transfer.1,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Work Day,bool,0,0.000000,2,NaN,NaN,False,False,False
hol_type_Work Day.1,bool,0,0.000000,2,NaN,NaN,False,False,False
family,object,0,0.000000,33,NaN,NaN,AUTOMOTIVE,BABY CARE,BEAUTY
onpromotion,int64,0,0.000000,191,0.0,519.0,0,0,0
sales,float64,0,0.000000,47434,0.0,13924.218,0.0,0.0,0.0
hol_type,object,353826,90.956905,6,NaN,NaN,Holiday,Holiday,Holiday

In [76]:
# Re do the average for only the stores invovled. 
# First take out regions
region_list = df[df.hol_Reg == 1].store_nbr.unique()
df_nonhol_for_Hol_region = df[df.store_nbr.isin(region_list)]



df_sale_regional = pd.DataFrame(columns=['family', 'average_sales_non_hol'])
# Loop through each unique family in the filtered dataframe
# Initialize an empty list to collect results
results = []
for item in df_nonhol_for_Hol_region['family'].unique():
    # Calculate the mean sales for each family and add it to the dataframe
    avg_sales = np.nanmean(df_nonhol_for_Hol_region[df_nonhol_for_Hol_region['family'] == item]['sales'])
    # Append a dictionary with 'family' and 'average_sales' to results list
    results.append({'family': item, 'average_sales': avg_sales})

# Convert the results list to a DataFrame
df_sale_regional = pd.DataFrame(results)
# print(df_sale)

In [78]:
# Add that for holidays 
# National is too complicated. start from Regional

for hol in df_hol_true.hol_Reg_name.unique():
    if  pd.isna(hol):
        print("Empty holiday name:", hol)
        continue
    # Calculate the average for each item: 
    for item in df_non_hol['family'].unique():
        average_sales = np.nanmean(df_hol_true[(df_hol_true.family == item) | (df_hol_true.hol_Reg_name == hol)]['sales'])
        df_sale_regional.loc[df_sale_regional['family'] == item, hol] = average_sales
#print(df_sale)

Empty holiday name: nan

In [79]:
df_sale_regional

,family,average_sales,Provincializacion de Cotopaxi,Provincializacion de Imbabura,Provincializacion de Santo Domingo,Provincializacion Santa Elena
0,AUTOMOTIVE,4.414489,34.706042,16.616036,43.791446,16.188166
1,BABY CARE,0.224975,28.698258,10.113243,37.921062,9.689363
2,BEAUTY,2.107058,32.237176,13.929683,41.367478,13.500616
3,BEVERAGES,1334.108755,2053.653410,2193.730960,2014.397166,2192.791119
4,BOOKS,0.030115,28.700482,10.118430,37.923234,9.691757
5,BREAD/BAKERY,227.678672,408.572537,419.710929,408.517403,419.143085
6,CELEBRATION,5.749152,34.291661,16.156738,43.370736,15.730464
7,CLEANING,779.393875,948.435100,1003.273658,936.112952,1003.427591
8,DAIRY,341.235579,627.747183,656.114839,622.660019,655.423202
9,DELI,193.849648,264.170050,264.139537,267.791623,263.879919
10,EGGS,100.184170,181.872091,175.278047,187.231706,174.794311
11,FROZEN FOODS,80.288865,141.990163,132.126517,148.412216,131.618319
12,GROCERY I,2454.019735,3278.564159,3518.866315,3210.008662,3519.950815
13,GROCERY II,9.508398,45.574092,28.292812,54.400787,27.871326
14,HARDWARE,0.756702,29.665642,11.160729,38.866753,10.733656
15,HOME AND KITCHEN I,16.406261,44.951779,27.632397,53.765740,27.213305
16,HOME AND KITCHEN II,11.620716,43.499963,26.068550,52.340685,25.651454
17,HOME APPLIANCES,0.205887,29.083358,10.531040,38.298325,10.104766
18,HOME CARE,121.772905,175.079652,167.963602,180.559367,167.617136
19,LADIESWEAR,2.976417,34.754596,16.633594,43.818962,16.216897
20,LAWN AND GARDEN,2.041737,33.595590,15.388582,42.702380,14.953529
21,LINGERIE,7.080336,35.036287,16.954823,44.100642,16.523760
22,"LIQUOR,WINE,BEER",57.486936,118.782765,107.153945,125.766464,106.655045
23,MAGAZINES,1.533593,30.909897,12.497520,40.074936,12.070448
24,MEATS,148.062263,306.223000,309.385926,308.993441,308.916300
25,PERSONAL CARE,176.095097,274.115234,275.005900,277.540541,274.672204
26,PET SUPPLIES,0.893875,31.915456,13.582117,41.064798,13.152252
27,PLAYERS AND ELECTRONICS,3.073889,33.880616,15.705022,42.980077,15.278349
28,POULTRY,142.680932,332.134567,337.184762,334.084533,336.663192
29,PREPARED FOODS,45.637558,116.716205,104.949004,123.712660,104.509201
30,PRODUCE,500.334294,990.730131,1045.761982,974.842263,1044.590867
31,SCHOOL AND OFFICE SUPPLIES,0.813370,30.297591,11.838702,39.483336,11.412028
32,SEAFOOD,4.867672,48.589155,31.538477,57.334196,31.116436

### Summary on regional holidays: 

There's a huge amount of sales improvement for almosty all the holidays. There inference is some what similar.

Check the some for the local festivals

In [80]:
# First take out regions
local_list = df[df.hol_Loc == 1].store_nbr.unique()
df_nonhol_for_Hol_local = df[df.store_nbr.isin(local_list)]



df_sale_local = pd.DataFrame(columns=['family', 'average_sales_non_hol'])
# Loop through each unique family in the filtered dataframe
# Initialize an empty list to collect results
results = []
for item in df_nonhol_for_Hol_local['family'].unique():
    # Calculate the mean sales for each family and add it to the dataframe
    avg_sales = np.nanmean(df_nonhol_for_Hol_local[df_nonhol_for_Hol_local['family'] == item]['sales'])
    # Append a dictionary with 'family' and 'average_sales' to results list
    results.append({'family': item, 'average_sales': avg_sales})

# Convert the results list to a DataFrame
df_sale_local = pd.DataFrame(results)
# print(df_sale)

In [81]:
# Add that for holidays 
# National is too complicated. start from Regional

for hol in df_hol_true.hol_loc_name.unique():
    if  pd.isna(hol):
        print("Empty holiday name:", hol)
        continue
    # Calculate the average for each item: 
    for item in df_non_hol['family'].unique():
        average_sales = np.nanmean(df_hol_true[(df_hol_true.family == item) | (df_hol_true.hol_loc_name == hol)]['sales'])
        df_sale_local.loc[df_sale_local['family'] == item, hol] = average_sales
#print(df_sale)

Empty holiday name: nan

In [82]:
df_sale_local

,family,average_sales,Fundacion de Manta,Fundacion de Cuenca,Cantonizacion de Libertad,Cantonizacion de Riobamba,Cantonizacion de Guaranda,Cantonizacion de Latacunga,Fundacion de Machala,Fundacion de Santo Domingo,...,Fundacion de Ambato,Fundacion de Ibarra,Cantonizacion de Quevedo,Independencia de Guaranda,Independencia de Latacunga,Independencia de Ambato,Fundacion de Quito,Fundacion de Loja,Cantonizacion del Puyo,Fundacion de Guayaquil-1
0,AUTOMOTIVE,6.130082,15.462617,50.974807,21.482143,15.602857,18.056984,25.532125,38.247349,48.048273,...,38.892751,18.057616,17.146760,17.803192,23.333275,29.944381,402.534265,29.826028,8.923861,33.719465
1,BABY CARE,0.104420,9.434077,45.297410,15.072372,9.105650,11.648395,19.365078,32.077645,42.378924,...,32.732158,11.558813,10.651947,11.309975,17.158256,23.617922,399.219656,23.332812,2.338169,27.542169
2,BEAUTY,3.809080,12.977813,48.636808,18.839511,12.920893,15.415140,22.992261,35.696476,45.716223,...,36.347192,15.373658,14.467590,15.123623,20.787337,27.331930,401.099195,27.138079,6.204378,31.168592
3,BEVERAGES,2421.625448,2037.977443,1953.979005,2169.766225,2193.680271,2166.836732,2094.988844,2105.084859,1950.702577,...,2106.984246,2195.261926,2194.553783,2193.580127,2093.171164,2150.586793,1482.162843,2205.766172,2215.743586,2101.340574
4,BOOKS,0.073797,9.436301,45.300559,15.074736,9.108044,11.650759,19.367736,32.080303,42.381723,...,32.734436,11.561208,10.654342,11.312370,17.160534,23.620256,399.217948,23.334807,2.340595,27.544446
5,BREAD/BAKERY,467.863787,389.683834,402.217528,419.000190,418.616745,416.017112,408.717699,420.729420,400.155697,...,421.350844,421.196404,420.174215,420.898484,406.538591,422.460437,606.044093,432.241433,417.433886,416.089879
6,CELEBRATION,8.534151,15.043788,50.577326,21.038881,15.150343,17.590081,25.095526,37.800121,47.630498,...,38.442105,17.600314,16.669106,17.351077,22.886046,29.484459,402.191677,29.364336,8.452155,33.254393
7,CLEANING,1086.234782,931.954833,913.002098,995.473081,1001.812753,992.254384,963.323317,974.749627,909.595159,...,975.351748,1003.088741,1003.829122,1004.472785,961.113077,991.249439,900.951608,1015.825230,1009.403246,971.421060
8,DAIRY,720.703460,609.356983,609.054932,652.442348,655.045794,649.484486,633.392793,645.332391,607.116852,...,645.690017,657.531678,656.667111,657.256504,631.295310,652.537377,720.872155,668.059468,657.018040,640.861075
9,DELI,269.395841,245.511835,267.716196,265.933058,263.160675,262.393822,260.816063,273.391537,264.275725,...,273.921015,265.522857,264.810724,265.307938,258.644548,271.144974,527.159129,277.428414,259.950899,268.906912
10,EGGS,169.452960,162.817324,189.412175,178.022332,174.263671,174.696070,176.371912,188.887440,186.260309,...,189.677868,176.656180,175.691852,176.408938,174.195841,184.593797,482.888815,188.356356,169.700336,184.306785
11,FROZEN FOODS,157.577674,122.731803,151.829588,135.413141,131.133280,132.139874,135.406561,147.849508,149.090367,...,148.601852,133.578323,132.689168,133.326841,133.245676,142.418825,458.192104,145.053736,125.981270,143.396130
12,GROCERY I,3825.775262,3269.404129,3109.434962,3478.311998,3518.019138,3475.499143,3353.195071,3363.054942,3108.435862,...,3363.277413,3520.474695,3519.544286,3520.173184,3352.258180,3441.140568,2159.876469,3525.907114,3559.631702,3362.689019
13,GROCERY II,22.186589,26.318065,61.119663,33.030212,27.291205,29.595991,36.643742,49.350994,58.278154,...,49.948939,29.743171,28.843089,29.493934,34.451346,41.298077,408.278605,41.466491,20.763796,44.821212
14,HARDWARE,1.143752,10.403314,46.210636,16.105074,10.151141,12.679916,20.357485,33.069293,43.292150,...,33.724945,12.603506,11.697837,12.355067,18.151422,24.636210,399.747209,24.375111,3.397587,28.533437
15,HOME AND KITCHEN I,21.025139,25.709096,60.641357,32.366698,26.625203,28.947055,36.025291,48.700273,57.672836,...,49.375666,29.091934,28.151947,28.836711,33.799866,40.681735,407.975103,40.831615,20.087967,44.186815
16,HOME AND KITCHEN II,17.067114,24.246901,59.255772,30.809172,25.062953,27.402138,34.530606,47.219635,56.293199,...,47.890473,27.516515,26.611245,27.273263,32.327960,39.167338,407.235461,39.291312,18.507127,42.687195
17,HOME APPLIANCES,0.466210,9.819918,45.662000,15.482537,9.519856,12.058166,19.760674,32.473241,42.742115,...,33.126236,11.974216,11.066951,11.724580,17.553093,24.020646,399.432386,23.747816,2.758137,27.937385
18,HOME CARE,179.001339,156.098643,183.462210,171.003814,167.108443,167.558560,169.350651,181.799741,179.862129,...,182.686221,169.379244,168.524653,169.219393,167.202675,177.433875,477.052420,181.065055,162.407288,177.359177
19,LADIESWEAR,7.465512,15.494492,51.000349,21.517604,15.633184,18.089293,25.564015,38.268989,48.066118,...,38.917808,18.076371,17.179481,17.833120,23.365925,29.966560,402.313206,29.822836,8.949325,33.740726
20,LAWN AND GARDEN,6.102720,14.328814,49.863540,20.257163,14.378196,16.854463,24.381783,37.083720,46.992640,...,37.745826,16.831359,15.924493,16.582521,22.174581,28.754109,401.865534,28.597377,7.678913,32.549382
21,LINGERIE,7.219575,15.788043,51.283414,21.828085,15.942442,18.399774,25.861282,38.556005,48.342535,...,39.220769,18.396802,17.477965,18.151156,23.660913,30.283681,402.738665,30.149652,9.268646,34.040650
22,"LIQUOR,WINE,BEER",85.653405,99.536004,130.045135,110.741796,106.137174,107.446267,111.630074,124.125861,127.209225,...,124.897686,108.585549,107.651947,108.354269,109.428188,118.005081,448.454171,120.294504,100.637280,119.250976
23,MAGAZINES,3.039495,11.644233,47.370538,17.424223,11.488731,13.999459,21.631213,34.332391,44.459400,...,34.992599,13.940697,13.035028,13.692258,19.425150,25.935821,400.405688,25.710306,4.752074,29.803748
24,MEATS,347.578800,287.409262,307.075205,310.491880,308.181883,307.116132,303.857738,316.559534,304.268785,...,315.924677,310.861165,309.831091,310.558003,301.719408,314.324602,548.584275,322.550473,305.666887,311.554592
25,PERSONAL CARE,274.857156,255.455574,276.708886,276.506178,273.952817,273.226803,271.177910,283.508549,273.651842,...,284.031703,276.486188,275.547398,276.252513,268.974505,281.605081,531.988558,287.844783,270.884249,279.365251
26,PET SUPPLIES,4.014822,12.649051,48.319103,18.491599,12.570534,15.068805,22.660446,35.360106,45.413563,...,36.023730,15.024097,14.116832,14.774860,20.454763,26.979400,400.892659,26.789715,5.849083,30.829944
27,PLAYERS AND ELECTRONICS,6.337152,14.618658,50.186143,20.590890,14.696632,17.168883,24.673734,37.380607,47.260309,...,38.035879,17.148199,16.242131,16.899361,22.471847,29.057611,401.899280,28.913020,8.001468,32.847408
28,POULTRY,359.936337,313.174268,331.349427,337.987771,336.196437,334.501213,330.278203,342.943965,328.459589,...,343.068943,338.592853,337.515435,338.241516,327.963949,341.791587,559.948145,350.179307,333.669689,337.883314
29,PREPARED FOODS,98.950079,97.511277,128.044262,108.669114,103.927445,105.282524,109.539117,122.191526,125.260099,...,122.736146,106.408142,105.499680,106.133766,107.336471,115.937668,446.563843,117.996291,98.435752,117.622932
30,PRODUCE,1376.394457,970.352534,948.579800,1037.069300,1045.225688,1034.402846,1004.585142,1014.547628,946.673320,...,1015.808774,1047.184947,1045.628994,1047.139706,1002.602442,1031.443220,899.973338,1057.284509,1051.837474,1009.163176
31,SCHOOL AND OFFICE SUPPLIES,3.058241,11.034151,46.807907,16.726824,10.828316,13.349340,21.003651,33.716218,43.887321,...,34.332006,13.281479,12.374613,13.032242,18.797208,25.294965,400.086807,25.055079,4.082713,29.179602
32,SEAFOOD,22.887081,29.335009,64.013108,36.232592,30.533678,32.804675,39.742314,52.452315,61.144387,...,53.061802,32.984447,32.082769,32.737205,37.540047,44.464108,409.873633,44.742018,24.046997,47.877380

In [83]:
# THe local holidays are not right. 
df_hol_all[df_hol_all.hol_Loc == 1].transferred.unique()

array([False])

In [84]:
Local[Local.type == 'Holiday'].description.unique()

array(['Fundacion de Manta', 'Fundacion de Cuenca',
       'Cantonizacion de Libertad', 'Cantonizacion de Riobamba',
       'Cantonizacion del Puyo', 'Cantonizacion de Guaranda',
       'Cantonizacion de Latacunga', 'Fundacion de Machala',
       'Fundacion de Santo Domingo', 'Cantonizacion de El Carmen',
       'Cantonizacion de Cayambe', 'Fundacion de Esmeraldas',
       'Fundacion de Riobamba', 'Fundacion de Ambato',
       'Fundacion de Ibarra', 'Cantonizacion de Quevedo',
       'Independencia de Guaranda', 'Independencia de Latacunga',
       'Independencia de Ambato', 'Fundacion de Quito',
       'Fundacion de Loja', 'Cantonizacion de Salinas',
       'Fundacion de Guayaquil', 'Fundacion de Guayaquil-1'], dtype=object)

For Some reason I'm not having all the holidays I'm supposed to have. I suspect it's the transferred label that's not right.

# Other checks on events.

In [88]:
holidays[holidays.type == 'Event']

,date,type,locale,locale_name,description,transferred,year,month-day
55,2013-05-12,Event,National,Ecuador,Dia de la Madre,False,2013,05-12
103,2014-05-11,Event,National,Ecuador,Dia de la Madre,False,2014,05-11
106,2014-06-12,Event,National,Ecuador,Inauguracion Mundial de futbol Brasil,False,2014,06-12
107,2014-06-15,Event,National,Ecuador,Mundial de futbol Brasil: Ecuador-Suiza,False,2014,06-15
108,2014-06-20,Event,National,Ecuador,Mundial de futbol Brasil: Ecuador-Honduras,False,2014,06-20
113,2014-06-25,Event,National,Ecuador,Mundial de futbol Brasil: Ecuador-Francia,False,2014,06-25
114,2014-06-28,Event,National,Ecuador,Mundial de futbol Brasil: Octavos de Final,False,2014,06-28
115,2014-06-29,Event,National,Ecuador,Mundial de futbol Brasil: Octavos de Final,False,2014,06-29
116,2014-06-30,Event,National,Ecuador,Mundial de futbol Brasil: Octavos de Final,False,2014,06-30
117,2014-07-01,Event,National,Ecuador,Mundial de futbol Brasil: Octavos de Final,False,2014,07-01
120,2014-07-04,Event,National,Ecuador,Mundial de futbol Brasil: Cuartos de Final,False,2014,07-04
121,2014-07-05,Event,National,Ecuador,Mundial de futbol Brasil: Cuartos de Final,False,2014,07-05
122,2014-07-08,Event,National,Ecuador,Mundial de futbol Brasil: Semifinales,False,2014,07-08
123,2014-07-09,Event,National,Ecuador,Mundial de futbol Brasil: Semifinales,False,2014,07-09
124,2014-07-12,Event,National,Ecuador,Mundial de futbol Brasil: Tercer y cuarto lugar,False,2014,07-12
125,2014-07-13,Event,National,Ecuador,Mundial de futbol Brasil: Final,False,2014,07-13
144,2014-11-28,Event,National,Ecuador,Black Friday,False,2014,11-28
145,2014-12-01,Event,National,Ecuador,Cyber Monday,False,2014,12-01
172,2015-05-10,Event,National,Ecuador,Dia de la Madre,False,2015,05-10
198,2015-11-27,Event,National,Ecuador,Black Friday,False,2015,11-27
199,2015-11-30,Event,National,Ecuador,Cyber Monday,False,2015,11-30
219,2016-04-16,Event,National,Ecuador,Terremoto Manabi,False,2016,04-16
220,2016-04-17,Event,National,Ecuador,Terremoto Manabi+1,False,2016,04-17
221,2016-04-18,Event,National,Ecuador,Terremoto Manabi+2,False,2016,04-18
222,2016-04-19,Event,National,Ecuador,Terremoto Manabi+3,False,2016,04-19
223,2016-04-20,Event,National,Ecuador,Terremoto Manabi+4,False,2016,04-20
225,2016-04-21,Event,National,Ecuador,Terremoto Manabi+5,False,2016,04-21
226,2016-04-22,Event,National,Ecuador,Terremoto Manabi+6,False,2016,04-22
227,2016-04-23,Event,National,Ecuador,Terremoto Manabi+7,False,2016,04-23
228,2016-04-24,Event,National,Ecuador,Terremoto Manabi+8,False,2016,04-24
229,2016-04-25,Event,National,Ecuador,Terremoto Manabi+9,False,2016,04-25
230,2016-04-26,Event,National,Ecuador,Terremoto Manabi+10,False,2016,04-26
231,2016-04-27,Event,National,Ecuador,Terremoto Manabi+11,False,2016,04-27
232,2016-04-28,Event,National,Ecuador,Terremoto Manabi+12,False,2016,04-28
233,2016-04-29,Event,National,Ecuador,Terremoto Manabi+13,False,2016,04-29
234,2016-04-30,Event,National,Ecuador,Terremoto Manabi+14,False,2016,04-30
236,2016-05-01,Event,National,Ecuador,Terremoto Manabi+15,False,2016,05-01
237,2016-05-02,Event,National,Ecuador,Terremoto Manabi+16,False,2016,05-02
238,2016-05-03,Event,National,Ecuador,Terremoto Manabi+17,False,2016,05-03
239,2016-05-04,Event,National,Ecuador,Terremoto Manabi+18,False,2016,05-04
240,2016-05-05,Event,National,Ecuador,Terremoto Manabi+19,False,2016,05-05
241,2016-05-06,Event,National,Ecuador,Terremoto Manabi+20,False,2016,05-06
243,2016-05-07,Event,National,Ecuador,Terremoto Manabi+21,False,2016,05-07
244,2016-05-08,Event,National,Ecuador,Terremoto Manabi+22,False,2016,05-08
245,2016-05-08,Event,National,Ecuador,Dia de la Madre,False,2016,05-08
246,2016-05-09,Event,National,Ecuador,Terremoto Manabi+23,False,2016,05-09
247,2016-05-10,Event,National,Ecuador,Terremoto Manabi+24,False,2016,05-10
248,2016-05-11,Event,National,Ecuador,Terremoto Manabi+25,False,2016,05-11
250,2016-05-12,Event,National,Ecuador,Terremoto Manabi+26,False,2016,05-12
251,2016-05-13,Event,National,Ecuador,Terremoto Manabi+27,False,2016,05-13
252,2016-05-14,Event,National,Ecuador,Terremoto Manabi+28,False,2016,05-14
253,2016-05-15,Event,National,Ecuador,Terremoto Manabi+29,False,2016,05-15
254,2016-05-16,Event,National,Ecuador,Terremoto Manabi+30,False,2016,05-16
284,2016-11-25,Event,National,Ecuador,Black Friday,False,2016,11-25
285,2016-11-28,Event,National,Ecuador,Cyber Monday,False,2016,11-28
311,2017-05-14,Event,National,Ecuador,Dia de la Madre,False,2017,05-14

In [86]:
national

,date,type,locale,locale_name,description,transferred,year,month-day
14,2012-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,False,2012,08-10
19,2012-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True,2012,10-09
21,2012-11-02,Holiday,National,Ecuador,Dia de Difuntos,False,2012,11-02
22,2012-11-03,Holiday,National,Ecuador,Independencia de Cuenca,False,2012,11-03
37,2012-12-25,Holiday,National,Ecuador,Navidad,False,2012,12-25
41,2013-01-01,Holiday,National,Ecuador,Primer dia del ano,False,2013,01-01
44,2013-02-11,Holiday,National,Ecuador,Carnaval,False,2013,02-11
45,2013-02-12,Holiday,National,Ecuador,Carnaval,False,2013,02-12
51,2013-04-29,Holiday,National,Ecuador,Viernes Santo,False,2013,04-29
52,2013-05-01,Holiday,National,Ecuador,Dia del Trabajo,False,2013,05-01
56,2013-05-24,Holiday,National,Ecuador,Batalla de Pichincha,False,2013,05-24
67,2013-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,False,2013,08-10
72,2013-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True,2013,10-09
74,2013-11-02,Holiday,National,Ecuador,Dia de Difuntos,False,2013,11-02
75,2013-11-03,Holiday,National,Ecuador,Independencia de Cuenca,False,2013,11-03
89,2013-12-25,Holiday,National,Ecuador,Navidad,False,2013,12-25
92,2014-01-01,Holiday,National,Ecuador,Primer dia del ano,False,2014,01-01
94,2014-03-03,Holiday,National,Ecuador,Carnaval,False,2014,03-03
95,2014-03-04,Holiday,National,Ecuador,Carnaval,False,2014,03-04
99,2014-04-18,Holiday,National,Ecuador,Viernes Santo,False,2014,04-18
101,2014-05-01,Holiday,National,Ecuador,Dia del Trabajo,False,2014,05-01
105,2014-05-24,Holiday,National,Ecuador,Batalla de Pichincha,False,2014,05-24
130,2014-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,False,2014,08-10
135,2014-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True,2014,10-09
137,2014-11-02,Holiday,National,Ecuador,Dia de Difuntos,False,2014,11-02
138,2014-11-03,Holiday,National,Ecuador,Independencia de Cuenca,False,2014,11-03
155,2014-12-25,Holiday,National,Ecuador,Navidad,False,2014,12-25
159,2015-01-01,Holiday,National,Ecuador,Primer dia del ano,False,2015,01-01
162,2015-02-16,Holiday,National,Ecuador,Carnaval,False,2015,02-16
163,2015-02-17,Holiday,National,Ecuador,Carnaval,False,2015,02-17
166,2015-04-03,Holiday,National,Ecuador,Viernes Santo,False,2015,04-03
170,2015-05-01,Holiday,National,Ecuador,Dia del Trabajo,False,2015,05-01
174,2015-05-24,Holiday,National,Ecuador,Batalla de Pichincha,False,2015,05-24
185,2015-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,False,2015,08-10
190,2015-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,False,2015,10-09
191,2015-11-02,Holiday,National,Ecuador,Dia de Difuntos,False,2015,11-02
192,2015-11-03,Holiday,National,Ecuador,Independencia de Cuenca,False,2015,11-03
208,2015-12-25,Holiday,National,Ecuador,Navidad,False,2015,12-25
211,2016-01-01,Holiday,National,Ecuador,Primer dia del ano,False,2016,01-01
212,2016-02-08,Holiday,National,Ecuador,Carnaval,False,2016,02-08
213,2016-02-09,Holiday,National,Ecuador,Carnaval,False,2016,02-09
215,2016-03-25,Holiday,National,Ecuador,Viernes Santo,False,2016,03-25
235,2016-05-01,Holiday,National,Ecuador,Dia del Trabajo,False,2016,05-01
255,2016-05-24,Holiday,National,Ecuador,Batalla de Pichincha,True,2016,05-24
268,2016-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,True,2016,08-10
274,2016-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,False,2016,10-09
275,2016-11-02,Holiday,National,Ecuador,Dia de Difuntos,False,2016,11-02
276,2016-11-03,Holiday,National,Ecuador,Independencia de Cuenca,False,2016,11-03
294,2016-12-25,Holiday,National,Ecuador,Navidad,False,2016,12-25
297,2017-01-01,Holiday,National,Ecuador,Primer dia del ano,True,2017,01-01
299,2017-02-27,Holiday,National,Ecuador,Carnaval,False,2017,02-27
300,2017-02-28,Holiday,National,Ecuador,Carnaval,False,2017,02-28
306,2017-04-14,Holiday,National,Ecuador,Viernes Santo,False,2017,04-14
308,2017-05-01,Holiday,National,Ecuador,Dia del Trabajo,False,2017,05-01
312,2017-05-24,Holiday,National,Ecuador,Batalla de Pichincha,True,2017,05-24
324,2017-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,True,2017,08-10
331,2017-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,False,2017,10-09
332,2017-11-02,Holiday,National,Ecuador,Dia de Difuntos,False,2017,11-02
333,2017-11-03,Holiday,National,Ecuador,Independencia de Cuenca,False,2017,11-03
348,2017-12-25,Holiday,National,Ecuador,Navidad,False,2017,12-25