In [3]:
import pandas as pd

In [4]:
#Here combined_v2.csv is the second version of the data combined by Maksim
SI=pd.read_csv('combined_v2.csv')
SI_new=pd.read_csv('merged_train.csv')
og=pd.read_csv('Data/train.csv')

In [5]:
# Drop rows with NaN values in the 'family' column
SI = SI.dropna(subset=['family'])

# Display the resulting DataFrame
#SI.head()

In [6]:
SI.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000888 entries, 0 to 3000887
Data columns (total 20 columns):
 #   Column           Dtype
---  ------           -----
 0   date             object
 1   year             int64
 2   month            int64
 3   week_number      int64
 4   day              int64
 5   day_of_the_week  object
 6   store_nbr        float64
 7   city             object
 8   state            object
 9   type_store       object
 10  cluster          float64
 11  family           object
 12  sales            float64
 13  onpromotion      float64
 14  oil              float64
 15  transactions     float64
 16  hol_Nat          float64
 17  hol_Reg          float64
 18  hol_Loc          float64
 19  type_hol         object
dtypes: float64(9), int64(4), object(7)
memory usage: 480.8+ MB

In [7]:
SI['onpromotion'].mean()

np.float64(2.6027702466736513)

In [8]:
# Calculate the correlation between 'sales' and 'onpromotion'
correlation_sales_onpromotion = SI['sales'].corr(SI['onpromotion'])

# Display the result
print(correlation_sales_onpromotion.round(2))

0.43

In [38]:
# Count entries with non-zero 'onpromotion' for each 'family'
non_zero_onpromotion_counts = SI[SI['onpromotion'] > 0].groupby('family').size().reset_index(name='non_zero_onpromotion_count')

# Display the result
non_zero_onpromotion_counts.sort_values(by='non_zero_onpromotion_count')

                        family  non_zero_onpromotion_count
1                    BABY CARE                          53
16             HOME APPLIANCES                          58
13                    HARDWARE                         132
22                   MAGAZINES                         159
18                  LADIESWEAR                         460
26     PLAYERS AND ELECTRONICS                         849
20                    LINGERIE                        2128
25                PET SUPPLIES                        3053
0                   AUTOMOTIVE                        3054
5                  CELEBRATION                        3211
30  SCHOOL AND OFFICE SUPPLIES                        4054
12                  GROCERY II                        4145
19             LAWN AND GARDEN                        4232
2                       BEAUTY                       11117
14          HOME AND KITCHEN I                       14602
31                     SEAFOOD                       16566
28              PREPARED FOODS                       17678
21            LIQUOR,WINE,BEER                       17917
15         HOME AND KITCHEN II                       18984
27                     POULTRY                       19704
23                       MEATS                       21468
9                         EGGS                       27481
29                     PRODUCE                       30784
17                   HOME CARE                       32538
10                FROZEN FOODS                       35820
24               PERSONAL CARE                       38231
4                 BREAD/BAKERY                       38896
8                         DELI                       39479
7                        DAIRY                       45985
6                     CLEANING                       49900
3                    BEVERAGES                       51705
11                   GROCERY I                       56886

In [40]:
# Filter rows where 'family' is 'BABY CARE' and 'onpromotion' is greater than 0
baby_care_dates = SI[(SI['family'] == 'BABY CARE') & (SI['onpromotion'] > 0)]['date']

# Display the unique dates
baby_care_dates = baby_care_dates.unique()
len(baby_care_dates)

36

In [42]:
# Filter rows where 'family' is 'HOME APPLIANCES' and 'onpromotion' is greater than 0
home_appliances_dates = SI[(SI['family'] == 'HOME APPLIANCES') & (SI['onpromotion'] > 0)]['date']

# Display the unique dates
home_appliances_dates = home_appliances_dates.unique()

# Print the result
print("Dates where 'HOME APPLIANCES' items were on promotion:")
print(len(home_appliances_dates))

Dates where 'HOME APPLIANCES' items were on promotion:
41

In [9]:
# Group by 'family' and find the maximum of 'onpromotion' for each group
max_onpromotion_per_family = SI.groupby('family')['onpromotion'].max().reset_index()

# Display the result
#max_onpromotion_per_family
max_onpromotion_per_family.sort_values(by='onpromotion')

                        family  onpromotion
4                        BOOKS          0.0
1                    BABY CARE          1.0
17             HOME APPLIANCES          1.0
14                    HARDWARE          4.0
26                PET SUPPLIES          6.0
23                   MAGAZINES          6.0
32                     SEAFOOD          7.0
13                  GROCERY II          7.0
0                   AUTOMOTIVE          8.0
2                       BEAUTY         10.0
21                    LINGERIE         12.0
29              PREPARED FOODS         14.0
6                  CELEBRATION         14.0
31  SCHOOL AND OFFICE SUPPLIES         14.0
20             LAWN AND GARDEN         15.0
27     PLAYERS AND ELECTRONICS         16.0
19                  LADIESWEAR         19.0
16         HOME AND KITCHEN II         20.0
22            LIQUOR,WINE,BEER         27.0
15          HOME AND KITCHEN I         31.0
10                        EGGS         32.0
11                FROZEN FOODS         33.0
28                     POULTRY         48.0
24                       MEATS         56.0
18                   HOME CARE         71.0
9                         DELI         81.0
25               PERSONAL CARE         99.0
5                 BREAD/BAKERY        104.0
8                        DAIRY        167.0
30                     PRODUCE        252.0
7                     CLEANING        285.0
3                    BEVERAGES        342.0
12                   GROCERY I        741.0

In [35]:
# Calculate the correlation between 'sales' and 'onpromotion' for each 'family'
correlation_per_family = SI.groupby('family').apply(lambda x:round(x['sales'].corr(x['onpromotion']), 2)).reset_index(name='correlation')

# Display the result
#correlation_per_family.sort_values(by='correlation',ascending=True)

/Users/tianwenchuan/miniconda3/envs/erdos_fall_2024/lib/python3.12/site-packages/numpy/lib/_function_base_impl.py:2999: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/Users/tianwenchuan/miniconda3/envs/erdos_fall_2024/lib/python3.12/site-packages/numpy/lib/_function_base_impl.py:3000: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]
/var/folders/v6/l9kcy76578d_lm66tl2qn4b80000gn/T/ipykernel_65578/4290754206.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  correlation_per_family = SI.groupby('family').apply(lambda x:round(x['sales'].corr(x['onpromotion']), 2)).reset_index(name='correlation')

In [34]:
# Count entries with non-zero 'onpromotion' for each 'family'
non_zero_onpromotion_counts = SI[SI['onpromotion'] > 0].groupby('family').size().reset_index(name='non_zero_onpromotion_count')

# Sort the result by the non-zero 'onpromotion' count in descending order
non_zero_onpromotion_counts = non_zero_onpromotion_counts.sort_values(by='non_zero_onpromotion_count', ascending=True).reset_index(drop=True)

# Display the result
#non_zero_onpromotion_counts

In [18]:
# Calculate the correlation between 'sales' and 'onpromotion' for each 'day_of_the_week'
correlation_per_day = SI.groupby('day_of_the_week').apply(lambda x: x['sales'].corr(x['onpromotion'])).reset_index(name='correlation')

# Display the result
correlation_per_day.sort_values(by='correlation')

/var/folders/v6/l9kcy76578d_lm66tl2qn4b80000gn/T/ipykernel_65578/3574764084.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  correlation_per_day = SI.groupby('day_of_the_week').apply(lambda x: x['sales'].corr(x['onpromotion'])).reset_index(name='correlation')

  day_of_the_week  correlation
0          Friday     0.384245
3          Sunday     0.426142
5         Tuesday     0.432680
4        Thursday     0.471563
2        Saturday     0.482602
1          Monday     0.488305
6       Wednesday     0.560248

In [32]:
# Calculate the correlation between 'sales' and 'onpromotion' for each 'store_nbr'
correlation_per_store = SI.groupby('store_nbr').apply(lambda x: round(x['sales'].corr(x['onpromotion']),2)).reset_index(name='correlation')

# Display the result
#correlation_per_store.sort_values(by='correlation')

/var/folders/v6/l9kcy76578d_lm66tl2qn4b80000gn/T/ipykernel_65578/2742677591.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  correlation_per_store = SI.groupby('store_nbr').apply(lambda x: round(x['sales'].corr(x['onpromotion']),2)).reset_index(name='correlation')

In [25]:
# Calculate the average sales for entries with and without promotions
average_sales_with_promotion = SI[SI['onpromotion'] > 0]['sales'].mean()
average_sales_without_promotion = SI[SI['onpromotion'] == 0]['sales'].mean()

# Calculate the percentage increase in sales due to promotions
percentage_increase = ((average_sales_with_promotion - average_sales_without_promotion) / average_sales_without_promotion) * 100

# Display the results with explanations
print(f"Average sales with promotion: {average_sales_with_promotion:.2f}")
print(f"Average sales without promotion: {average_sales_without_promotion:.2f}")
print(f"Percentage increase in sales due to promotions: {percentage_increase:.2f}%")

Average sales with promotion: 1137.69
Average sales without promotion: 158.25
Percentage increase in sales due to promotions: 618.94%

In [30]:
# Calculate average units sold with and without promotions for each 'family' and the percentage increase
promotion_impact_per_family = SI.groupby('family').apply(lambda x: pd.Series({
    'avg_units_with_promotion': x[x['onpromotion'] > 0]['sales'].mean(),
    'avg_units_without_promotion': x[x['onpromotion'] == 0]['sales'].mean()
})).reset_index()

# Calculate the percentage increase in units sold due to promotions for each family
promotion_impact_per_family['percentage_increase'] = (
    (promotion_impact_per_family['avg_units_with_promotion'] - promotion_impact_per_family['avg_units_without_promotion']) / 
    promotion_impact_per_family['avg_units_without_promotion'] * 100
)

# Format the display for readability
promotion_impact_per_family['avg_units_with_promotion'] = promotion_impact_per_family['avg_units_with_promotion'].apply(lambda x: f"{x:,.2f} units")
promotion_impact_per_family['avg_units_without_promotion'] = promotion_impact_per_family['avg_units_without_promotion'].apply(lambda x: f"{x:,.2f} units")
promotion_impact_per_family['percentage_increase'] = promotion_impact_per_family['percentage_increase'].apply(lambda x: f"{x:.2f}%")


# Remove the percentage symbol and convert to numeric
promotion_impact_per_family['percentage_increase'] = promotion_impact_per_family['percentage_increase'].str.rstrip('%').astype(float)

# Sort by 'percentage_increase' in descending order
promotion_impact_per_family = promotion_impact_per_family.sort_values(by='percentage_increase', ascending=False)

# Display the result
#promotion_impact_per_family.sort_values(by='percentage_increase')

/var/folders/v6/l9kcy76578d_lm66tl2qn4b80000gn/T/ipykernel_65578/2768557869.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  promotion_impact_per_family = SI.groupby('family').apply(lambda x: pd.Series({