In [27]:
import numpy as np
import pandas as pd

# Data Collection

The bulk of our data comes from a Kaggle competition which we cite below:

    Alexis Cook, DanB, inversion, and Ryan Holbrook. Store Sales - Time Series Forecasting. 
    https://kaggle.com/competitions/store-sales-time-series-forecasting, 2021. Kaggle.

In [28]:
# Import the data
train = pd.read_csv('../data/train.csv')
test = pd.read_csv('../data/test.csv')
stores = pd.read_csv('../data/stores.csv')
transactions = pd.read_csv('../data/transactions.csv')
oil = pd.read_csv('../data/oil.csv')
holidays = pd.read_csv('../data/holidays_events.csv')

# Dictionary for all datasets
datasets = {'train':train, 'test':test, 'stores':stores, 'transactions':transactions, 'oil':oil, 'holidays':holidays}

# Convert dates to pandas Timestamp
for df in iter(datasets.values()):
    if 'date' in df.columns:
        df['date'] = pd.to_datetime( df['date'] )

# Summary Statistics

In [29]:
def summary_stats(df_dict):
    
    # df_dict : dictionary of DataFrames which we want to generate summary statistics for
    
    for df in df_dict:
        summary = pd.DataFrame(df_dict[df].describe().transpose())  # basic stats for each column   
        summary.insert(0, 'dtype', df_dict[df].dtypes)              # data type for each column
        summary.insert(1, '#null',df_dict[df].isnull().sum())       # number of missing values in each column
        print(df,":", datasets[df].columns.to_list())               # print list of features
        print("shape:",datasets[df].shape)                          # print shape of dataframe
        print(summary)                                              # print summary statistics
        print('------------------------------------------------------------','\n')

In [30]:
summary_stats(datasets)

train : ['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion']
shape: (3000888, 6)
                      dtype  #null      count                           mean  \
id                    int64      0  3000888.0                      1500443.5
date         datetime64[ns]      0    3000888  2015-04-24 08:27:04.703088384
store_nbr             int64      0  3000888.0                           27.5
sales               float64      0  3000888.0                     357.775749
onpromotion           int64      0  3000888.0                        2.60277

                             min                  25%                  50%  \
id                           0.0            750221.75            1500443.5
date         2013-01-01 00:00:00  2014-02-26 18:00:00  2015-04-24 12:00:00
store_nbr                    1.0                 14.0                 27.5
sales                        0.0                  0.0                 11.0
onpromotion                  0.0                  0.0                  0.0

                             75%                  max            std
id                    2250665.25            3000887.0  866281.891642
date         2016-06-19 06:00:00  2017-08-15 00:00:00            NaN
store_nbr                   41.0                 54.0      15.585787
sales                  195.84725             124717.0    1101.997721
onpromotion                  0.0                741.0      12.218882
------------------------------------------------------------

test : ['id', 'date', 'store_nbr', 'family', 'onpromotion']
shape: (28512, 5)
                      dtype  #null    count                 mean  \
id                    int64      0  28512.0            3015143.5
date         datetime64[ns]      0    28512  2017-08-23 12:00:00
store_nbr             int64      0  28512.0                 27.5
onpromotion           int64      0  28512.0             6.965383

                             min                  25%                  50%  \
id                     3000888.0           3008015.75            3015143.5
date         2017-08-16 00:00:00  2017-08-19 18:00:00  2017-08-23 12:00:00
store_nbr                    1.0                 14.0                 27.5
onpromotion                  0.0                  0.0                  0.0

                             75%                  max          std
id                    3022271.25            3029399.0  8230.849774
date         2017-08-27 06:00:00  2017-08-31 00:00:00          NaN
store_nbr                   41.0                 54.0    15.586057
onpromotion                  6.0                646.0    20.683952
------------------------------------------------------------

stores : ['store_nbr', 'city', 'state', 'type', 'cluster']
shape: (54, 5)
           dtype  #null  count       mean        std  min    25%   50%    75%  \
store_nbr  int64      0   54.0  27.500000  15.732133  1.0  14.25  27.5  40.75
cluster    int64      0   54.0   8.481481   4.693395  1.0   4.00   8.5  13.00

            max
store_nbr  54.0
cluster    17.0
------------------------------------------------------------

transactions : ['date', 'store_nbr', 'transactions']
shape: (83488, 3)
                       dtype  #null    count                           mean  \
date          datetime64[ns]      0    83488  2015-05-20 16:07:40.866232064
store_nbr              int64      0  83488.0                      26.939237
transactions           int64      0  83488.0                    1694.602158

                              min                  25%                  50%  \
date          2013-01-01 00:00:00  2014-03-27 00:00:00  2015-06-08 00:00:00
store_nbr                     1.0                 13.0                 27.0
transactions                  5.0               1046.0               1393.0

                              75%                  max         std
date          2016-07-14 06:00:00  2017-08-15 00:00:00         NaN
store_nbr                    40.0                 54.0   15.608204
transactions               2079.0               8359.0  963.286644
------------------------------------------------------------

oil : ['date', 'dcoilwtico']
shape: (1218, 2)
                     dtype  #null   count                 mean  \
date        datetime64[ns]      0    1218  2015-05-02 12:00:00
dcoilwtico         float64     43  1175.0            67.714366

                            min                  25%                  50%  \
date        2013-01-01 00:00:00  2014-03-03 06:00:00  2015-05-02 12:00:00
dcoilwtico                26.19               46.405                53.19

                            75%                  max        std
date        2016-06-30 18:00:00  2017-08-31 00:00:00        NaN
dcoilwtico                95.66               110.62  25.630476
------------------------------------------------------------

holidays : ['date', 'type', 'locale', 'locale_name', 'description', 'transferred']
shape: (350, 6)
               dtype  #null count                           mean  \
date  datetime64[ns]      0   350  2015-04-24 00:45:15.428571392

                      min                  25%                  50%  \
date  2012-03-02 00:00:00  2013-12-23 06:00:00  2015-06-08 00:00:00

                      75%                  max
date  2016-07-03 00:00:00  2017-12-26 00:00:00
------------------------------------------------------------

# Initial Feature List

|  train/test  |         |
|:--------|:--------|
`id`            |   an extra row index   
`date`          |   date
`store_nbr`     |   store number
`family`        |   family of good sold (e.g. beauty, food, etc.)
`sales`         |   quantity of items sold (may be float, e.g. 1.5 for 1.5kg of cheese sold)
`onpromotion`   |   number of items in family that had a promotion

|  stores  |         |
|:--------|:--------|
`store_nbr` |   store number
`city`      |   city store is located in
`state`     |   state store is located in
`type`      |   (?) guess: store type (?)
`cluster`   |   categorical variable grouping "similar" stores together

|  transactions  |         |
|:--------|:--------|
`date`              |   date
`store_nbr`         |   store number
`transactions`      |   (?) guess: number of transactions or amount of money earned (?)

|  oil  |         |
|:--------|:--------|
`date`          |   date
`dcoilwtico`    |   oil price (daily crude oil west texas intermediate, cushing, oklahoma)

|  holidays  |         |
|:--------|:--------|
`date`          |   date of holiday
`type`          |   Categorical variable with values: Holiday, Transfer, Additional, Bridge, Work Day, or Event. <br> Holiday= holiday, day off <br> Transfer = holiday, day off moved <br> Additional = extra days off bc of proximity to a big holiday <br> Bridge = extra day off for longer weekends or to "bridge over" between close holidays (e.g. christmas and new years eve) <br> Work Day = 1-1 correspondence with Bridge, extra work day to off-set work days lost to Bridge <br> Event = one-off special events (soccer championships, 2016 earthquake, Black Friday)
`locale`        |   Local, Regional, National
`locale_name`   |   name of town, city, state, or country where holiday applies (e.g. Ecuador for National holiday)
`description`   |   name of holiday
`transferred`   |   Boolean. If True, the "day off" for holiday was observed on a different day.

# Preliminary Analysis

### Feature Engineering

We agreed that we would break down the `date` data into smaller pieces (year, month, week, day, day_of_week).

These levels will likely aid in capturing different levels of seasonality in the data.

### Training Set

We verify that the `id` column in the training set is nothing but an extra row index, which we can thus safely delete.

In [31]:
train.id.size == train.id.nunique()     # all the entries of train.id are different

True

### Oil Dataset

We notice below that the oil prices are missing on weekends.

In [32]:
# prints any dates in oil dataset that land on a Saturday(day_of_week==5) or Sunday(day_of_week==5)
# nothing printed means oil prices are only recorded on weekdays
for i in oil.index:
    if (oil.date.iloc[i].day_of_week == 5) or (oil.date.iloc[i].day_of_week == 6):
        print(oil.iloc[i,0])

The summary statistics also shows the oil dataset has 43 missing `dcoilwtico` values, shown below.

Checking the corresponding `date` for the 43 missing values, we see that virtually all of them are one-day gaps (1 exception is a 2 day gap) , so using linear interpolation to fill them seems okay.

It makes sense to first add the weekend days to the oil dataframe, with oil price NaN. The worst that can happen is a three day gap (Fri-Sat-Sun or Sat-Sun-Mon). If we interpolate once after adding these weekend days, then these gaps will be filled with equidistant steps using (Thur+Mon values or Fri+Tues values respectively).

In [33]:
oil[ oil['dcoilwtico'].isnull() ]

           date  dcoilwtico
0    2013-01-01         NaN
14   2013-01-21         NaN
34   2013-02-18         NaN
63   2013-03-29         NaN
104  2013-05-27         NaN
132  2013-07-04         NaN
174  2013-09-02         NaN
237  2013-11-28         NaN
256  2013-12-25         NaN
261  2014-01-01         NaN
274  2014-01-20         NaN
294  2014-02-17         NaN
338  2014-04-18         NaN
364  2014-05-26         NaN
393  2014-07-04         NaN
434  2014-09-01         NaN
497  2014-11-27         NaN
517  2014-12-25         NaN
522  2015-01-01         NaN
534  2015-01-19         NaN
554  2015-02-16         NaN
588  2015-04-03         NaN
624  2015-05-25         NaN
653  2015-07-03         NaN
699  2015-09-07         NaN
757  2015-11-26         NaN
778  2015-12-25         NaN
783  2016-01-01         NaN
794  2016-01-18         NaN
814  2016-02-15         NaN
843  2016-03-25         NaN
889  2016-05-30         NaN
914  2016-07-04         NaN
959  2016-09-05         NaN
1017 2016-11-24         NaN
1039 2016-12-26         NaN
1044 2017-01-02         NaN
1054 2017-01-16         NaN
1079 2017-02-20         NaN
1118 2017-04-14         NaN
1149 2017-05-29         NaN
1174 2017-07-03         NaN
1175 2017-07-04         NaN

### Holiday Dataset

#### Holiday Time Span and Frequencies

One thing to note is that the holiday dataset starts in March 2012 and ends December 2017. Deleting them in cleaning is unnecessary since we will left or inner join along dates.
- Most annual holidays should therefore occur about 5 times. 
- All holidays with 6 or 7 occurences have an extra coming from 2012.
- The two holidays with 7 occurences have another extra coming from improper formatting from being transfers.
- All holidays with occurences < 5 are all special (transfers, events, bridges). The exceptions are Black Friday and Cyber Monday, which are only on record in 2014,2015, 2016.

In [ ]:
holidays['description'].value_counts().head(60)

description
Carnaval                                      10
Fundacion de Cuenca                            7
Fundacion de Ibarra                            7
Fundacion de Quito                             6
Provincializacion de Santo Domingo             6
Provincializacion Santa Elena                  6
Independencia de Guaranda                      6
Independencia de Latacunga                     6
Independencia de Ambato                        6
Fundacion de Quito-1                           6
Fundacion de Manta                             6
Dia de Difuntos                                6
Navidad-4                                      6
Cantonizacion de Salinas                       6
Navidad-3                                      6
Navidad-2                                      6
Navidad-1                                      6
Navidad                                        6
Navidad+1                                      6
Fundacion de Loja                              6
Independencia de Cuenca                        6
Provincializacion de Cotopaxi                  6
Fundacion de Santo Domingo                     6
Cantonizacion de Libertad                      6
Cantonizacion de Riobamba                      6
Cantonizacion del Puyo                         6
Cantonizacion de Guaranda                      6
Provincializacion de Imbabura                  6
Independencia de Guayaquil                     6
Fundacion de Machala                           6
Cantonizacion de Latacunga                     6
Cantonizacion de El Carmen                     6
Cantonizacion de Cayambe                       6
Fundacion de Esmeraldas                        6
Primer Grito de Independencia                  6
Fundacion de Riobamba                          6
Fundacion de Ambato                            6
Cantonizacion de Quevedo                       6
Fundacion de Guayaquil-1                       5
Batalla de Pichincha                           5
Dia de la Madre                                5
Dia de la Madre-1                              5
Dia del Trabajo                                5
Viernes Santo                                  5
Fundacion de Guayaquil                         5
Primer dia del ano                             5
Primer dia del ano-1                           5
Mundial de futbol Brasil: Octavos de Final     4
Traslado Independencia de Guayaquil            3
Black Friday                                   3
Cyber Monday                                   3
Puente Navidad                                 2
Traslado Primer Grito de Independencia         2
Mundial de futbol Brasil: Cuartos de Final     2
Mundial de futbol Brasil: Semifinales          2
Traslado Batalla de Pichincha                  2
Puente Primer dia del ano                      2
Terremoto Manabi+16                            1
Terremoto Manabi+17                            1
Terremoto Manabi+18                            1
Name: count, dtype: int64

#### Bridge and Work Days

Holidays with `type` labelled "Bridge" (extra days off to "bridge" between weekends and other holidays) are in bijective correspondence with those labelled "Work Day" (extra work days to recover labor lost to bridge holidays).

To Do: Decide how to tag bridge and work day holidays. For example, Work Day should perhaps be set to not-a-holiday, they are extra weekend work days, so we should not expect them to behave like holidays. Bridge holidays have days off, so perhaps these should remain holidays.

In [34]:
holidays[ holidays.type == 'Bridge']

,date,type,locale,locale_name,description,transferred
35,2012-12-24,Bridge,National,Ecuador,Puente Navidad,False
39,2012-12-31,Bridge,National,Ecuador,Puente Primer dia del ano,False
156,2014-12-26,Bridge,National,Ecuador,Puente Navidad,False
160,2015-01-02,Bridge,National,Ecuador,Puente Primer dia del ano,False
277,2016-11-04,Bridge,National,Ecuador,Puente Dia de Difuntos,False

In [35]:
holidays[ holidays.type == 'Work Day']

,date,type,locale,locale_name,description,transferred
42,2013-01-05,Work Day,National,Ecuador,Recupero puente Navidad,False
43,2013-01-12,Work Day,National,Ecuador,Recupero puente primer dia del ano,False
149,2014-12-20,Work Day,National,Ecuador,Recupero Puente Navidad,False
161,2015-01-10,Work Day,National,Ecuador,Recupero Puente Primer dia del ano,False
283,2016-11-12,Work Day,National,Ecuador,Recupero Puente Dia de Difuntos,False

#### Transfer Holidays

Transferred holidays are holidays that occur on a certain day, but remain work days. 

Their corresponding "day-off" is "transferred" to a different day to give people longer weekends/breaks.
- Transferred holidays have the `transferred` column set to True.
- The added "day-off" for the transferred holiday has its `transferred` column as False.
- With 2 exceptions, the added "day-off" for the transferred holiday has "Traslado" in its `description` (holiday name).
    - The exceptions are the transfer holidays in rows 303 and 328 (resp. Fundacion de Cuenca, Fundacion de Ibarra)
    - Their corresponding days-off occur in rows 304 and 329. Their description *should* read 'Traslado Fundacion de Cuenca' (for row 304) and 'Traslado Fundacion de Ibarra' (for row 329).

In [36]:
holidays[ holidays.transferred == True ]

,date,type,locale,locale_name,description,transferred
19,2012-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True
72,2013-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True
135,2014-10-09,Holiday,National,Ecuador,Independencia de Guayaquil,True
255,2016-05-24,Holiday,National,Ecuador,Batalla de Pichincha,True
266,2016-07-25,Holiday,Local,Guayaquil,Fundacion de Guayaquil,True
268,2016-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,True
297,2017-01-01,Holiday,National,Ecuador,Primer dia del ano,True
303,2017-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,True
312,2017-05-24,Holiday,National,Ecuador,Batalla de Pichincha,True
324,2017-08-10,Holiday,National,Ecuador,Primer Grito de Independencia,True
328,2017-09-28,Holiday,Local,Ibarra,Fundacion de Ibarra,True
340,2017-12-06,Holiday,Local,Quito,Fundacion de Quito,True

In [37]:
holidays[ holidays['description'].str.contains("Traslado")]

,date,type,locale,locale_name,description,transferred
20,2012-10-12,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
73,2013-10-11,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
136,2014-10-10,Transfer,National,Ecuador,Traslado Independencia de Guayaquil,False
256,2016-05-27,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
265,2016-07-24,Transfer,Local,Guayaquil,Traslado Fundacion de Guayaquil,False
269,2016-08-12,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
298,2017-01-02,Transfer,National,Ecuador,Traslado Primer dia del ano,False
313,2017-05-26,Transfer,National,Ecuador,Traslado Batalla de Pichincha,False
325,2017-08-11,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False
342,2017-12-08,Transfer,Local,Quito,Traslado Fundacion de Quito,False

In [43]:
# finding the added day-off corresponding to the transfer holiday in row 303
holidays[ holidays['description'].str.contains("Fundacion de Cuenca")]
    # day off for row 303 seems to be in row 304

          date      type locale locale_name          description  transferred
2   2012-04-12   Holiday  Local      Cuenca  Fundacion de Cuenca        False
48  2013-04-12   Holiday  Local      Cuenca  Fundacion de Cuenca        False
97  2014-04-12   Holiday  Local      Cuenca  Fundacion de Cuenca        False
167 2015-04-12   Holiday  Local      Cuenca  Fundacion de Cuenca        False
217 2016-04-12   Holiday  Local      Cuenca  Fundacion de Cuenca        False
303 2017-04-12   Holiday  Local      Cuenca  Fundacion de Cuenca         True
304 2017-04-13  Transfer  Local      Cuenca  Fundacion de Cuenca        False

In [15]:
# finding the added day-off corresponding to the transfer holiday in row 328
holidays[ holidays['description'].str.contains("Fundacion de Ibarra")]
    # day off for row 328 seems to be in row 329

          date      type locale locale_name          description  transferred
17  2012-09-28   Holiday  Local      Ibarra  Fundacion de Ibarra        False
70  2013-09-28   Holiday  Local      Ibarra  Fundacion de Ibarra        False
133 2014-09-28   Holiday  Local      Ibarra  Fundacion de Ibarra        False
188 2015-09-28   Holiday  Local      Ibarra  Fundacion de Ibarra        False
272 2016-09-28   Holiday  Local      Ibarra  Fundacion de Ibarra        False
328 2017-09-28   Holiday  Local      Ibarra  Fundacion de Ibarra         True
329 2017-09-29  Transfer  Local      Ibarra  Fundacion de Ibarra        False

#### Event Holidays

There are 56 event holidays
- 31 come from the earthquake 4/16/2016 to 5/16/2016 (description: 'Terremoto Manabi' or f'Terremoto Manabi+{day_count} ).
- 14 come from the soccer world cup in June/July 2014 (Ecuador was eliminated on June 25, the fourth event)
-  5 are annual 'Dia de la Madre' holiday in early May.
- The remaining 6 are Black Friday and Cyber Monday in 2014, 2015, 2016.

In [ ]:
# Number of earthquak holiday events
holidays[ holidays.description.str.contains('Terremoto') ].shape[0]

31

In [90]:
holidays[ holidays.type == 'Event'][ holidays[ holidays.type == 'Event'].description.str.contains('Mundial') ].shape

(14, 6)

In [ ]:
# mother's day holiday events
holidays[ holidays.type == 'Event'][ holidays[ holidays.type == 'Event'].description.str.contains('Madre') ]

          date   type    locale locale_name      description  transferred
55  2013-05-12  Event  National     Ecuador  Dia de la Madre        False
103 2014-05-11  Event  National     Ecuador  Dia de la Madre        False
172 2015-05-10  Event  National     Ecuador  Dia de la Madre        False
245 2016-05-08  Event  National     Ecuador  Dia de la Madre        False
311 2017-05-14  Event  National     Ecuador  Dia de la Madre        False

In [91]:
holidays[ holidays.type == 'Event']

,date,type,locale,locale_name,description,transferred
55,2013-05-12,Event,National,Ecuador,Dia de la Madre,False
103,2014-05-11,Event,National,Ecuador,Dia de la Madre,False
106,2014-06-12,Event,National,Ecuador,Inauguracion Mundial de futbol Brasil,False
107,2014-06-15,Event,National,Ecuador,Mundial de futbol Brasil: Ecuador-Suiza,False
108,2014-06-20,Event,National,Ecuador,Mundial de futbol Brasil: Ecuador-Honduras,False
113,2014-06-25,Event,National,Ecuador,Mundial de futbol Brasil: Ecuador-Francia,False
114,2014-06-28,Event,National,Ecuador,Mundial de futbol Brasil: Octavos de Final,False
115,2014-06-29,Event,National,Ecuador,Mundial de futbol Brasil: Octavos de Final,False
116,2014-06-30,Event,National,Ecuador,Mundial de futbol Brasil: Octavos de Final,False
117,2014-07-01,Event,National,Ecuador,Mundial de futbol Brasil: Octavos de Final,False
120,2014-07-04,Event,National,Ecuador,Mundial de futbol Brasil: Cuartos de Final,False
121,2014-07-05,Event,National,Ecuador,Mundial de futbol Brasil: Cuartos de Final,False
122,2014-07-08,Event,National,Ecuador,Mundial de futbol Brasil: Semifinales,False
123,2014-07-09,Event,National,Ecuador,Mundial de futbol Brasil: Semifinales,False
124,2014-07-12,Event,National,Ecuador,Mundial de futbol Brasil: Tercer y cuarto lugar,False
125,2014-07-13,Event,National,Ecuador,Mundial de futbol Brasil: Final,False
144,2014-11-28,Event,National,Ecuador,Black Friday,False
145,2014-12-01,Event,National,Ecuador,Cyber Monday,False
172,2015-05-10,Event,National,Ecuador,Dia de la Madre,False
198,2015-11-27,Event,National,Ecuador,Black Friday,False
199,2015-11-30,Event,National,Ecuador,Cyber Monday,False
219,2016-04-16,Event,National,Ecuador,Terremoto Manabi,False
220,2016-04-17,Event,National,Ecuador,Terremoto Manabi+1,False
221,2016-04-18,Event,National,Ecuador,Terremoto Manabi+2,False
222,2016-04-19,Event,National,Ecuador,Terremoto Manabi+3,False
223,2016-04-20,Event,National,Ecuador,Terremoto Manabi+4,False
225,2016-04-21,Event,National,Ecuador,Terremoto Manabi+5,False
226,2016-04-22,Event,National,Ecuador,Terremoto Manabi+6,False
227,2016-04-23,Event,National,Ecuador,Terremoto Manabi+7,False
228,2016-04-24,Event,National,Ecuador,Terremoto Manabi+8,False
229,2016-04-25,Event,National,Ecuador,Terremoto Manabi+9,False
230,2016-04-26,Event,National,Ecuador,Terremoto Manabi+10,False
231,2016-04-27,Event,National,Ecuador,Terremoto Manabi+11,False
232,2016-04-28,Event,National,Ecuador,Terremoto Manabi+12,False
233,2016-04-29,Event,National,Ecuador,Terremoto Manabi+13,False
234,2016-04-30,Event,National,Ecuador,Terremoto Manabi+14,False
236,2016-05-01,Event,National,Ecuador,Terremoto Manabi+15,False
237,2016-05-02,Event,National,Ecuador,Terremoto Manabi+16,False
238,2016-05-03,Event,National,Ecuador,Terremoto Manabi+17,False
239,2016-05-04,Event,National,Ecuador,Terremoto Manabi+18,False
240,2016-05-05,Event,National,Ecuador,Terremoto Manabi+19,False
241,2016-05-06,Event,National,Ecuador,Terremoto Manabi+20,False
243,2016-05-07,Event,National,Ecuador,Terremoto Manabi+21,False
244,2016-05-08,Event,National,Ecuador,Terremoto Manabi+22,False
245,2016-05-08,Event,National,Ecuador,Dia de la Madre,False
246,2016-05-09,Event,National,Ecuador,Terremoto Manabi+23,False
247,2016-05-10,Event,National,Ecuador,Terremoto Manabi+24,False
248,2016-05-11,Event,National,Ecuador,Terremoto Manabi+25,False
250,2016-05-12,Event,National,Ecuador,Terremoto Manabi+26,False
251,2016-05-13,Event,National,Ecuador,Terremoto Manabi+27,False
252,2016-05-14,Event,National,Ecuador,Terremoto Manabi+28,False
253,2016-05-15,Event,National,Ecuador,Terremoto Manabi+29,False
254,2016-05-16,Event,National,Ecuador,Terremoto Manabi+30,False
284,2016-11-25,Event,National,Ecuador,Black Friday,False
285,2016-11-28,Event,National,Ecuador,Cyber Monday,False
311,2017-05-14,Event,National,Ecuador,Dia de la Madre,False

#### Additional Holidays

The 51 additional holidays are additional days off surrounding big holidays.
- 30 additionals come from Christmas. Every Christmas gets 4 days off prior and one day off after (Christmas-4,-3,-2,-1 Christmas, +1).
- 5 come from day before New Year ('Primer dia del ano-1')
- 5 come from the day before Mother's Day in May ('Dia de la Madre-1')
- 6 come from 'Fundacion de Quito-1', a local Quito holiday (1 per year, extra comes from 2012)
- 4 come from 'Fundacion de Guayaquil', but there are some formatting errors here:
    - (row 182) The missing 2015 Additional Fundacion de Guayaquil should be labelled Additional
    - (row 322) The 2017 Fundacion de Guayaquil holiday should  be labelled as Holiday
    - (row 266) The 2016 Fundacion de Guayaquil (on a Monday) was given the standard additional the day prior (Sunday) but also got *transferred* to Sunday, which is redundant. We can just drop row 264, which gets rid of the redundant Additional and keeps the transfer to Sunday.

In [130]:
holidays.loc[30:40]

,date,type,locale,locale_name,description,transferred
30,2012-12-08,Holiday,Local,Loja,Fundacion de Loja,False
31,2012-12-21,Additional,National,Ecuador,Navidad-4,False
32,2012-12-22,Holiday,Local,Salinas,Cantonizacion de Salinas,False
33,2012-12-22,Additional,National,Ecuador,Navidad-3,False
34,2012-12-23,Additional,National,Ecuador,Navidad-2,False
35,2012-12-24,Bridge,National,Ecuador,Puente Navidad,False
36,2012-12-24,Additional,National,Ecuador,Navidad-1,False
37,2012-12-25,Holiday,National,Ecuador,Navidad,False
38,2012-12-26,Additional,National,Ecuador,Navidad+1,False
39,2012-12-31,Bridge,National,Ecuador,Puente Primer dia del ano,False
40,2012-12-31,Additional,National,Ecuador,Primer dia del ano-1,False

In [129]:
holidays[ holidays.type == 'Additional'][ holidays[ holidays.type == 'Additional'].description.str.contains('Navidad')]

          date        type    locale locale_name description  transferred
31  2012-12-21  Additional  National     Ecuador   Navidad-4        False
33  2012-12-22  Additional  National     Ecuador   Navidad-3        False
34  2012-12-23  Additional  National     Ecuador   Navidad-2        False
36  2012-12-24  Additional  National     Ecuador   Navidad-1        False
38  2012-12-26  Additional  National     Ecuador   Navidad+1        False
84  2013-12-21  Additional  National     Ecuador   Navidad-4        False
85  2013-12-22  Additional  National     Ecuador   Navidad-3        False
87  2013-12-23  Additional  National     Ecuador   Navidad-2        False
88  2013-12-24  Additional  National     Ecuador   Navidad-1        False
90  2013-12-26  Additional  National     Ecuador   Navidad+1        False
150 2014-12-21  Additional  National     Ecuador   Navidad-4        False
152 2014-12-22  Additional  National     Ecuador   Navidad-3        False
153 2014-12-23  Additional  National     Ecuador   Navidad-2        False
154 2014-12-24  Additional  National     Ecuador   Navidad-1        False
157 2014-12-26  Additional  National     Ecuador   Navidad+1        False
203 2015-12-21  Additional  National     Ecuador   Navidad-4        False
204 2015-12-22  Additional  National     Ecuador   Navidad-3        False
206 2015-12-23  Additional  National     Ecuador   Navidad-2        False
207 2015-12-24  Additional  National     Ecuador   Navidad-1        False
209 2015-12-26  Additional  National     Ecuador   Navidad+1        False
289 2016-12-21  Additional  National     Ecuador   Navidad-4        False
290 2016-12-22  Additional  National     Ecuador   Navidad-3        False
292 2016-12-23  Additional  National     Ecuador   Navidad-2        False
293 2016-12-24  Additional  National     Ecuador   Navidad-1        False
295 2016-12-26  Additional  National     Ecuador   Navidad+1        False
343 2017-12-21  Additional  National     Ecuador   Navidad-4        False
345 2017-12-22  Additional  National     Ecuador   Navidad-3        False
346 2017-12-23  Additional  National     Ecuador   Navidad-2        False
347 2017-12-24  Additional  National     Ecuador   Navidad-1        False
349 2017-12-26  Additional  National     Ecuador   Navidad+1        False

In [113]:
holidays[ holidays.type == 'Additional'][ holidays[ holidays.type == 'Additional'].description.str.contains('Primer dia del ano')].shape

(5, 6)

In [114]:
holidays[ holidays.type == 'Additional'][ holidays[ holidays.type == 'Additional'].description.str.contains('Madre')].shape

(5, 6)

In [ ]:
holidays[ holidays.type == 'Additional'][ holidays[ holidays.type == 'Additional'].description.str.contains('Quito')]
    # extra one comes from 2012

,date,type,locale,locale_name,description,transferred
28,2012-12-05,Additional,Local,Quito,Fundacion de Quito-1,False
81,2013-12-05,Additional,Local,Quito,Fundacion de Quito-1,False
146,2014-12-05,Additional,Local,Quito,Fundacion de Quito-1,False
200,2015-12-05,Additional,Local,Quito,Fundacion de Quito-1,False
286,2016-12-05,Additional,Local,Quito,Fundacion de Quito-1,False
339,2017-12-05,Additional,Local,Quito,Fundacion de Quito-1,False

In [ ]:
holidays[ holidays.type == 'Additional'][ holidays[ holidays.type == 'Additional'].description.str.contains('Guayaquil')]
    # missing 2015
    # also 2017 Fundacion de Guayaquil holiday (row 322) is erroneously labelled as Additional

,date,type,locale,locale_name,description,transferred
64,2013-07-24,Additional,Local,Guayaquil,Fundacion de Guayaquil-1,False
127,2014-07-24,Additional,Local,Guayaquil,Fundacion de Guayaquil-1,False
264,2016-07-24,Additional,Local,Guayaquil,Fundacion de Guayaquil-1,False
321,2017-07-24,Additional,Local,Guayaquil,Fundacion de Guayaquil-1,False
322,2017-07-25,Additional,Local,Guayaquil,Fundacion de Guayaquil,False

In [ ]:
holidays[ holidays.description.str.contains('Fundacion de Guayaquil')]
    # The missing 2015 Additional Fundacion de Guayaquil (row 182) should be labelled Additional
    # The 2017 Fundacion de Guayaquil holiday (row 322) should  be labelled as Holiday
    # The 2016 Fundacion de Guayaquil (row 266, a Monday) was given the standard additional the day prior (Sunday) but also 
    # got transferred to Sunday, which is redundant.

,date,type,locale,locale_name,description,transferred
64,2013-07-24,Additional,Local,Guayaquil,Fundacion de Guayaquil-1,False
65,2013-07-25,Holiday,Local,Guayaquil,Fundacion de Guayaquil,False
127,2014-07-24,Additional,Local,Guayaquil,Fundacion de Guayaquil-1,False
128,2014-07-25,Holiday,Local,Guayaquil,Fundacion de Guayaquil,False
182,2015-07-24,Holiday,Local,Guayaquil,Fundacion de Guayaquil-1,False
183,2015-07-25,Holiday,Local,Guayaquil,Fundacion de Guayaquil,False
264,2016-07-24,Additional,Local,Guayaquil,Fundacion de Guayaquil-1,False
265,2016-07-24,Transfer,Local,Guayaquil,Traslado Fundacion de Guayaquil,False
266,2016-07-25,Holiday,Local,Guayaquil,Fundacion de Guayaquil,True
321,2017-07-24,Additional,Local,Guayaquil,Fundacion de Guayaquil-1,False
322,2017-07-25,Additional,Local,Guayaquil,Fundacion de Guayaquil,False

#### Locale

- Holidays with `locale`=='Local' are holidays occuring in certain cities.
- Holidays with `local`=='Regional' are holidays occuring in certain states.
- Holidays with `local`=='National' are holidays occuring in the whole country (`locale_name`=='Ecuador').